footer.s-footer
	._l-container.l-container
		._top
			a(href="home.html")._logo
				img(src="images/s-header/logo.svg" loading="lazy" width="110" height="30")._logo-img
			nav._nav
				each menu in footerMenu
					._col
						._ttl=menu.ttl
						ul
							each itm in menu.menu
								li
									a(href=itm.url).lnk.lnk_reverse=itm.ttl
		._copyright
			|© Все права защищены. ФГУП «Космическая связь».
			._police
				a(href="#").lnk.lnk_reverse Политика обработки персональных данных
