.s-footer {
	flex: 0 0 auto;
	background-color: $secondary;
	color: $light;
	padding: 50px 0;
	@include media-breakpoint-up(md) {
		padding: 60px 0 54px;
	}
	@include media-breakpoint-up(lg) {
		padding: 50px 0;
	}
	&__top {
		@include media-breakpoint-up(md) {
			display: flex;
		}

	}
	&__logo {
		display: block;
		border: none;
		&-img {
			display: block;
			width: 110px;
			height: 30px;
		}
	}
	&__nav {
		margin-top: 50px;
		@include media-breakpoint-up(md) {
			margin-left: auto;
			margin-top: 0;
			display: flex;
			column-gap: 59px;
			margin-right: 31px;
		}
		@include media-breakpoint-up(md) {
			margin-right: 37px;

		}
		ul {
			list-style: none;
			margin: 12px 0 0;
			padding: 0;
			li {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
		a {
			font-weight: 400;
			font-size: 14px;
			color: #fff;
		}
	}
	&__col {
		margin-top: 40px;
		@include media-breakpoint-up(md) {


		}
	}
	&__ttl {
		font-weight: 500;
		font-size: 18px;
		text-transform: uppercase;
		color: #dadfe2;
	}


	&__copyright {
		margin-top: 46px;
		font-weight: 400;
		font-size: 12px;
		@include media-breakpoint-up(md) {
			margin-top: 65px;
		}
		a {
			color: inherit;
		}
	}
}
.is-zoom {
	.s-footer {
		&__logo {
			&-img {
				@include media-breakpoint-up(lg) {
					width: 170px;
					height: 45px;
				}
			}
		}
		&__ttl {
			font-size: 24px;
			@include media-breakpoint-up(md) {
				font-size: 28px;
			}
		}
		&__nav {
			li {
				margin-top: 12px;
				@include media-breakpoint-up(lg) {
					margin-top: 27px;

				}
			}
			a {
				font-size: 20px;
				@include media-breakpoint-up(lg) {
					font-size: 24px;
				}
			}
		}
		&__copyright {
			font-size: 18px;
			margin-top: 57px;
			@include media-breakpoint-up(lg) {
				font-size: 22px;
				max-width: 343px;
				margin-top: -40px;
			}
		}
		&__police {
			margin-top: 25px;
			@include media-breakpoint-up(lg) {
				margin-top: 26px;
			}
		}
	}
}
