.s-page-banner {
	height: 290px;
	position: relative;
	color: $light;
	display: flex;
	flex-direction: column;
 	justify-content: flex-end;
	padding-bottom: 30px;
	&:after {
		content: '';
		width: 100%;
		height: 50%;
		bottom: 0;
		left: 0;
		background: linear-gradient(360deg, #47237f 0%, rgba(71, 35, 127, 0) 100%);
		position: absolute;
	}
	@include media-breakpoint-up(md) {
		height: 339px;
		padding-bottom: 40px;
	}
	@include media-breakpoint-up(lg) {
		padding-bottom: 66px;
	}
	&__l-container {
		position: relative;
		z-index: 11;
	}
	&__bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__title {
		font-family: $font-family-secondary;
		margin: 0;
		text-transform: uppercase;
		font-weight: 400!important;
	}
	&__desc {
		font-size: 14px;
		text-transform: uppercase;
		@include media-breakpoint-up(md) {
		    font-size: 18px;
		}
	}
}
.is-zoom {
	.s-page-banner {
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 24px;
			}
			@include media-breakpoint-up(lg) {

			}
		}
	}
}
