mixin bSession(data)
	.b-session&attributes(attributes)(

	)
		._head
			._ttl!=data.ttl
			._title!=data.title
		._pict
			+picture({
				media: false,
				retina: false,
				img: data.img
			})._img

		._desc
			!=data.txt
			if data.list
				ul
					each itm in data.list
						li!=itm
		if data.num
			img(src=data.num loading="lazy")._num.-hidden-tablet.-hidden-phone
