.b-session {
	font-family: $font-family-secondary;
	font-size: 14px;
	font-weight: 400;
	position: relative;

	@include media-breakpoint-up(md) {
		display: grid;
		grid-column-gap: 22px;
		font-size: 16px;
	}
	@include media-breakpoint-up(lg) {
		max-width: 1027px;
		grid-template-columns: 298px auto;
		grid-column-gap: 95px;
		grid-row-gap: 0px;
	}
	&__pict {
		margin-top: 18px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
			max-width: 238px;
			min-width: 238px;
			grid-area: 1 / 1 / 2 / 2;
		}
		@include media-breakpoint-up(lg) {
			max-width: 298px;
			min-width: 298px;
			grid-area: 1 / 1 / 3 / 2;
		}
	}
	&__img {
		display: block;
		width: 100%;
		border-radius: 20px;
	}
	&__head {
		@include media-breakpoint-up(md) {
			grid-area: 1 / 2 / 2 / 3;
		}
		@include media-breakpoint-up(lg) {
			grid-area: 1 / 2 / 2 / 3;
		}

	}
	&__desc {
		margin-top: 21px;
		@include media-breakpoint-up(md) {
			grid-area: 2 / 1 / 3 / 3;
			max-width: 537px;
		}
		@include media-breakpoint-up(lg) {
			grid-area: 2 / 2 / 3 / 3;
			max-width: none;
		}
		ul {
			margin-top: 17px;
			li {
				margin-top: 10px;
				@include media-breakpoint-up(md) {
					margin-top: 12px;
				}
				@include media-breakpoint-up(lg) {
					margin-top: 14px;
				}
			}
		}
	}
	&__ttl {
		font-weight: 700;
		font-size: 16px;
		color: rgba(#FFF, 0.5);
		text-transform: uppercase;

	}
	&__title {
		margin: 20px 0 0;
		font-weight: 700;
		font-size: 20px;
		color: #fff;
		@include media-breakpoint-up(md) {
			font-weight: 700;
			font-size: 32px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 9px;
			font-weight: 700;
			font-size: 22px;

		}
	}
	&__num {
		position: absolute;
		top: 0;
		right: 100%;
		margin-right: 58px;

	}
	&_even &__num {
		left: 100%;
		margin: 0 0 0 -30px;
	}
	&_odd {
		@include media-breakpoint-up(lg) {
			grid-template-columns: auto  298px;
		}
	}
	&_odd &__head {
		@include media-breakpoint-up(lg) {
			grid-area: 1 / 1 / 2 / 2;
		}
	}
	&_odd &__pict {
		@include media-breakpoint-up(lg) {
			grid-area: 1 / 2 / 3 / 3;
		}
	}
	&_odd &__desc {
		@include media-breakpoint-up(lg) {
			grid-area: 2 / 1 / 3 / 2;
		}
	}
}
.is-zoom {
	.b-session {
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 22px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 26px;
		}
		&__ttl {
			font-size: 22px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
		&__title {
			font-size: 26px;
			@include media-breakpoint-up(md) {
				font-size: 38px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 32px;
			}
		}
	}
}
