.s-sesions {
	color: $light;
	margin-top: 83px;
	@include media-breakpoint-up(md) {
		margin-top: 185px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 223px;
	}
	&__title {
		margin: 0 0 53px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 63px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 48px;

		}
	}
	&__list {}
	&__itm {
		margin-top: 70px;
		@include media-breakpoint-up(md) {
			margin-top: 100px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 111px;
			padding-left: 196px;
			&:nth-child(even) {
				padding: 0 115px 0 0;
			}
		}
	}
}

