include ../b-session/b-session
-
	var sessions = [
		{
			num: 'images/b-session/num-1.svg',
			img: 'images/b-session/img-2.png',
			ttl: 'Сессия 1',
			title: 'Работа российских операторов спутниковой связи в современных условиях  и перспективы развития',
			txt: 'Темы для обсуждения:',
			list: [
				'Потенциал развития сетей VSAT на космических аппаратах с многолучевыми антенными системами',
				'Цифровизация Северного морского пути',
				'Доставка медиа - контента и новые платформенные решения',
				'Изменения на рынке модемного оборудования в России',
				'Разработка отечественных решений кодирования видеосигнала',
			]
		},
		{
			num: 'images/b-session/num-2.svg',
			img: 'images/b-session/img-3.png',
			ttl: 'Сессия 2',
			title: 'Индустриализация спутниковой связи',
			txt: 'Темы для обсуждения:',
			list: [
				'Меры государственной поддержки импортозамещения',
				'Перспективы отечественных IT - разработок <br> в космической связи',
				'Высокоточное позиционирование в сельском хозяйстве',
				'Создание сетей связи и прикладных сервисов для технологических компаний, работающих в Арктической зоне',
				'Разработка и производство отечественного спутникового оборудования',
				'Особенности национального стандарта спутникового интернета вещей',
			]
		}
	]

.s-sesions
	._l-container.l-container
		h2._title.-h1 CЕССИИ
		+bSession({
			img: 'images/b-session/img-1.png',
			ttl: 'ПЛЕНАРНАЯ СЕССИЯ',
			title: 'КОСМИЧЕСКИЙ ГОРИЗОНТ: ТРЕНДЫ ГЛОБАЛЬНОЙ СПУТНИКОВОЙ ОТРАСЛИ, ЗАДАЧИ И ПЕРСПЕКТИВЫ РОССИИ',
			txt: 'Темы для обсуждения:',
			list: [
				"Драйверы рынка и новые ниши для бизнеса",
				"Перспективы развития геостационарных спутников связи",
				"Цифровые спутники и гибкая полезная нагрузка",
				"Будущее цифровой экономики и место спутниковой связи в устранении цифрового неравенства",
				"Конвергенция спутниковой и сотовой связи — новая эра для индустрии телекоммуникаций",
				"Развитие международного сотрудничества в области космической связи",
			]
		})
		._list
			each session, i in sessions
				._itm
					+bSession(session)._session(class=i%2 === 0? 'b-session_odd': 'b-session_even')
