mixin sConference(data)
	.s-conference&attributes(attributes)
		._l-container.l-container
			if  data.title
				h1._title.-h1=data.title
			if  data.subTitle
				._subtitle=data.subTitle
			._desc
				._col!=data.desc
				._col!=data.desc2
			if data.btn
				._button
					+btn(data.btn)._btn


