.s-conference {
	color: $light;
	&__title {
		text-transform: uppercase;
		margin: 0;
	}
	&__subtitle {
		margin-top: 15px;
		font-weight: 600;
		font-size: 16px;
		@include media-breakpoint-up(md) {
			font-size: 20px;
			max-width: 676px;
			margin-top: 35px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 50px;
		}
	}
	&__col {
		flex: 1 0 0;
		&:first-child {
			@include media-breakpoint-up(md) {
				flex: 0 0 percentage(560/1167)
			}
		}
		&>*:first-child {
			margin-top: 0;
		}
		&>*:last-child {
			margin-bottom: 0;
		}

	}
	&__desc {
		font-size: 14px;
		line-height: 1.3;
		margin-top: 30px;
		font-weight: 400;

		@include media-breakpoint-up(md) {
			display: flex;
			column-gap: 20px;
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			column-gap: 30px;

		}

	}
	&__button {
		margin-top: 42px;
		text-align: center;
		@include media-breakpoint-up(md) {
			margin-top: 78px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 50px;
		}
	}
}
.is-zoom  {
	.s-conference {
		&__subtitle {
			font-size: 22px;
			@include media-breakpoint-up(md) {
				font-size: 26px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 30px;
				max-width: none;
			}
		}
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 22px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 26px;

			}

		}
	}
}
