mixin images(data)
	.images&attributes(attributes)
		if data.title
			._title.-h1=data.title
		._list
			each img in data.list
				._itm
					img(src=img.img loading="lazy")._img

.s-partners(
	class=pageUrl === 'partnery.html'? 's-partners_mt-0': ''
)
	._l-container.l-container
		if pageUrl != 'partnery.html'
			._title.-h1 ПАРТНЕРЫ КОНФЕРЕНЦИИ
		ul._head
			li._head-itm
				a(href="#tab-1" data-tab="#tab-1" role="button")._head-lnk.is-active  Организаторы конференции
			li._head-itm
				a(href="#tab-2" data-tab="#tab-2" role="button")._head-lnk  ГЕНЕРАЛЬНЫЙ ПАРТНЕР
			li._head-itm
				a(href="#tab-3" data-tab="#tab-3" role="button")._head-lnk  ПАРТНЕРЫ КОНФЕРЕНЦИИ
			li._head-itm
				a(href="#tab-4" data-tab="#tab-4" role="button")._head-lnk СПЕЦИАЛЬНЫЕ ПАРТНЕРЫ
		._tabs
			._tab.is-visible#tab-1
				+images({
					list: [
						{img: 'images/s-partners/img-1.svg' },
						{img: 'images/s-partners/img-2.svg' }
					]
				})._images.images_mt-0
				+images({
					title: 'ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ',
					list: [
						{img: 'images/s-partners/img-3.svg' },
						{img: 'images/s-partners/img-4.svg' },
						{img: 'images/s-partners/img-5.svg' }
					]
				})._images
				+images({
					title: 'ПРИ ПОДДЕРЖКЕ',
					list: [
						{img: 'images/s-partners/img-6.svg' }
					]
				})._images
			._tab#tab-2 tab-2
			._tab#tab-3 tab-3
			._tab#tab-4 tab-4
