.s-partners {
	color: $light;
	margin-top: 120px;
	@include media-breakpoint-up(md) {
		margin-top: 151px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 187px;

	}

	&__title {
		margin: 0;
	}

	&__head {
		display: flex;
		margin: 46px 0 0;
		padding: 0;
		border-bottom: 1px solid rgba(#fff, 0.5);
		gap: 4px;
		@include media-breakpoint-up(md) {
			gap: 10px;

		}
		@include media-breakpoint-up(lg) {
			gap: 41px;
		}

		&-itm {
			padding: 0;

			&:before {
				display: none;
			}
		}

		&-lnk {
			font-weight: 600;
			font-size: 8px;
			display: block;
			text-transform: uppercase;
			color: inherit;
			border-bottom: 2px solid transparent;
			padding-bottom: 5px;
			@include media-breakpoint-up(md) {
				font-size: 14px;
				padding-bottom: 15px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 16px;
				padding-bottom: 18px;
			}

			&.is-active {
				border-bottom-color: $light;
			}
		}
	}

	&__tabs {
		position: relative;
		overflow: hidden;
	}

	&__tab {
		padding-top: 30px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity $animation-base-time, visibility $animation-base-time;
		@include media-breakpoint-up(md) {
			padding-top: 50px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 60px;

		}
		&.is-visible {
			position: static;
			opacity: 1;
			visibility: visible;
		}
	}
}
.images {
	margin-top: 75px;
	@include media-breakpoint-up(md) {
		margin-top: 83px;
	}
	@include media-breakpoint-up(md) {
		margin-top: 129px;

	}
	&__title {
		margin: 0 0 50px;
	}
	&__list {
		display: flex;
		flex-flow: row wrap;
		gap: 20px;
	}
	img {
		display: block;
		max-width: 112px;
		@include media-breakpoint-up(md) {
			max-width: 214px;
		}
	}

}
.is-zoom {
	.s-partners {
		&__head {
			overflow-x: auto;
			overflow-y: hidden;
			&-lnk {
				font-size: 14px;
				@include media-breakpoint-up(md) {
					font-size: 20px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 26px;
				}
			}
		}
	}
}
