.s-about {
	color: $light;
	margin-top: 89px;
	font-weight: 300;
	font-size: 14px;
	@include media-breakpoint-up(md) {
		margin-top: 164px;
		font-weight: 300;
		font-size: 22px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 209px;

	}
	&__desc {
		margin-top: 35px;
		@include media-breakpoint-up(md) {
			margin-top: 31px;
		}
		@include media-breakpoint-up(lg) {
		    max-width: 938px;
		}
	}
	&__btn {
		margin-top: 35px;
		@include media-breakpoint-up(md) {
			margin-top: 46px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 60px;

		}
	}
}
.is-zoom {
	.s-about {
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 28px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 32px;
		}
	}
}
