.s-about
	._l-contaienr.l-container
		._title.-h1 SATCOMRUS AWARDS
		._desc Церемония награждения лауреатов престижной премии SATCOMRUS AWARDS в области спутниковой связи в рамках XXVII международной конференции операторов  и пользователей сети спутниковой связи РФ «SatComRus 2022».
		+btn({
			ttl: 'ПОДАТЬ ЗАЯВКУ НА SATCOMRUS AWARDS 2023'
		})._btn.btn_border
