include ../b-card-archive/b-card-archive
mixin bCardArchive(data)
	.b-card-archive&attributes(attributes)
		._pict
			+picture({
				retina: false,
				media: false,
				img: data.img
			})._img
		._ttl!=data.ttl
		._desc!=data.desc
		._date!=data.date
		a(href="#")._lnk-abs
mixin sArchive(data)
	.s-archive&attributes(attributes)
		._l-container.l-container
			._list
				each itm in data.list
					._itm
						+bCardArchive(itm)

+sArchive({
	list: [
		{
			img: 'images/b-card-archive/img-1.png',
			ttl: 'SATCOMRUS 2023',
			desc: 'Космический горизонт: тренды глобальной спутниковой отрасли, задачи и перспективы России',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-2.png',
			ttl: 'SATCOMRUS 2022',
			desc: '55 лет на орбите: новые вызовы — новые решения',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-3.png',
			ttl: 'SATCOMRUS 2021',
			desc: 'Спутниковая связь для цифровой трансформации экономики и общества',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-4.png',
			ttl: 'SATCOMRUS 2020',
			desc: 'Стратегия спутниковой отрасли до 2030 года. Критерии инвестпрограмм',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-5.png',
			ttl: 'SATCOMRUS 2020',
			desc: 'Стратегия спутниковой отрасли до 2030 года. Критерии инвестпрограмм',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-6.png',
			ttl: 'SATCOMRUS 2019',
			desc: 'Спутниковая связь для цифровой экономики',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-7.png',
			ttl: 'SATCOMRUS 2018',
			desc: 'Спутниковая связь для цифровой экономики',
			date: '02.10.2023'
		},
		{
			img: 'images/b-card-archive/img-8.png',
			ttl: 'SATCOMRUS 2017',
			desc: 'Развитие спутниковой связи в России и ее перспективы для Индустрии 4.0 и IoT',
			date: '02.10.2023'
		}
	]
})
