.s-archive {
	margin-top: 50px;
	@include media-breakpoint-up(md) {
		margin-top: 63px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 108px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 65px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			column-gap: 20px;
			row-gap: 67px;
		}
		@include media-breakpoint-up(lg) {
			row-gap: 109px;
		}
	}

	&__itm {
		display: flex;
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 20)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(3, 20)
		}
	}

	&__button {
		text-align: center;
		margin-top: 50px;
		@include media-breakpoint-up(md) {
			margin-top: 125px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 117px;
		}
	}
}
