.s-main-banner(
	class=pageUrl === 'during.html'? 's-main-banner_auth':''
	class=pageUrl === 'home.html' || pageUrl ===  'after.html'? 's-main-banner_thank':''
)
	if pageUrl === 'during.html'
		+picture({
			img: 'images/s-main-banner/bg.png'
		})._img
		._auth
			+picture({
				retina: false,
				media: false,
				img: 'images/s-main-banner/bg-empty.png'
			})._img


	else
		+picture({
			img: 'images/s-main-banner/bg.png'
		})._img
		img(src="images/s-main-banner/logo.svg")._logo
	if promo
		._desc(class=promo.class)
			._l-container.l-container
				if promo.date
					._date
						._ttl Даты проведения
						._val=promo.date
				if promo.place
					._place
						._ttl Место проведения
						._val=promo.place
				if promo.organizers
					._organizers
						._ttl Организаторы
						._picts
							each img in promo.organizers.img
								img(src=img)._promo-img
				if promo.general
					._general
						._ttl Генеральный партнер
						img(src=promo.general.img)._promo-img
