.s-main-banner {
	position: relative;

	height: 600px;
	margin-bottom: 40px;
	@include media-breakpoint-up(md) {
		margin-bottom: 27px;
		height: 590px;
	}
	@include media-breakpoint-up(lg) {
		height: 837px;
		margin-bottom: 0;
	}
	&_thank {
		height: 451px;
		@include media-breakpoint-up(md) {
			height: 590px;
		}
		@include media-breakpoint-up(lg) {
			height: 837px;
			margin-bottom: -23px;
		}
		& +* {
			position: relative;
			z-index: 1;
		}
	}

	&_auth {
		height: 451px;
		margin-bottom: 60px;
		@include media-breakpoint-up(md) {
			height: 590px;
			margin-bottom: 131px;
		}
		@include media-breakpoint-up(lg) {
			height: 837px;
			margin-bottom: 0
		}
	}
	&__auth {
		position: absolute;
		top: 150px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 40px);
		@include media-breakpoint-up(md) {
			width: calc(100% - 80px);
			top: 158px;
		}
		@include media-breakpoint-up(lg) {
			width: 900px;
			top: 150px;
		}
		img {
			display: block;
			width: 100%;
		}

	}
	&:after {
		content: '';
		width: 100%;
		height: 187px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(42, 14, 86, 0) 0%, #47237f 100%);
	}
	&__img {
		width: 100%;
		object-fit: cover;
		margin: 0 auto;
		display: block;
		height: 100%;

	}
	&__desc {
		position: absolute;
		width: 100%;
		bottom: 55px;
		left: 0;
		z-index: 1;
		@include media-breakpoint-up(md) {
			bottom: 69px;

		}
		@include media-breakpoint-up(lg) {
			bottom: 75px;

		}

	}
	&__desc_center &__l-container {
		justify-content: center;
	}
	&__l-container {
		display: flex;
		flex-flow: row wrap;
		row-gap: 27px;
		color: #FFF;
		font-weight: 400;
		@include media-breakpoint-up(md) {
			row-gap: 49px;

		}
	}
	&__ttl {
		font-weight: 400;
		margin-bottom: 10px;
		font-size: 12px;
		@include media-breakpoint-up(md) {
			font-size: 16px;
			line-height: 111%;
			margin-bottom: 8px;
		}
	}
	&__val {
		font-weight: 400;
		text-transform: uppercase;
		@include media-breakpoint-up(md) {
			font-weight: 500;
			font-size: 18px;
			line-height: 111%;
		}
	}
	&__place {
		margin-right: 10px;
		@include media-breakpoint-down(sm) {
			order: -1;
			max-width: 163px;
		}
		@include media-breakpoint-up(md) {
			max-width: calc(100% - 195px);

		}
		@include media-breakpoint-up(lg) {
			flex: 1 0 0;
			padding-right: 10px;

		}
	}
	&__date {
		@include media-breakpoint-between(md, lg) {
			width: 195px;
			flex: 0 0 195px;

		}
		@include media-breakpoint-up(lg) {
			width: 193px;
			flex: 0 0 193px;
		}
	}
	&__picts {
		display: flex;
		flex-flow: row wrap;
		gap: 13px;
		margin-top: 10px;
		img {
			display: block;
			@include media-breakpoint-down(sm) {
				max-height: 45px;
			}
		}
	}
	&__general {
		@include media-breakpoint-up(md) {
			margin-left: 30px;

		}
		img {
			display: block;
			@include media-breakpoint-down(sm) {
				max-height: 45px;
			}
		}
	}
	&__logo {
		position: absolute;
		width: (353/375*100%);
		top: 150px;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
		@include media-breakpoint-up(md) {
			top: 200px;
			width: (436/834*100%);

		}
		@include media-breakpoint-up(lg) {
			top: 264px;
			width: (638/1440*100%);

		}
	}
}
.is-zoom  {
	.s-main-banner {
		&__ttl {
			font-size: 18px;
			@include media-breakpoint-up(md) {
			    font-size: 22px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 26px;

			}
		}
		&__val {
			font-size: 20px;
			@include media-breakpoint-up(md) {
			    font-size: 24px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 28px;

			}
		}
	}

}
