.s-about-conference {
	color: #FFF;
	&__l-container {
		@include media-breakpoint-up(lg) {
			display: flex;
			column-gap: 56px;
		}
	}
	&__head {
		@include media-breakpoint-up(md) {
			flex: 0 0 335px;
			max-width: 335px;
		}
	}
	&__title {
		margin-top: 0;
	}
	&__desc {
		font-size: 14px;
		line-height: 1.3;
		margin-top: 20px;
		font-weight: 400;
		@include media-breakpoint-up(md) {
			font-size: 16px;
			margin-top: 56px;
		}
		@include media-breakpoint-up(md) {
			max-width: 647px;
			margin-top: 0;
		}
		@include media-breakpoint-between(md, md) {
			column-count: 2;
			column-gap: 20px;
		}
		&>*:first-child {
			margin-top: 0;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
	}
}
.is-zoom  {
	.s-about-conference {
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 22px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 26px;

			}

		}
	}
}
