.s-collage {
	margin-top: -44px;
	color: $light;
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 18px;
	}
	&__title {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		@include media-breakpoint-up(md) {
			font-weight: 700;
			font-size: 30px;
		}
	}
	&__gallery {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		@include media-breakpoint-up(md) {
			row-gap: 20px;

		}
		@include media-breakpoint-up(lg) {
			margin-top: 53px;
		}
	}
	&__itm {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		@include media-breakpoint-up(md) {
			grid-column-gap: 20px;
			grid-row-gap: 20px;
		}
		@include media-breakpoint-up(lg) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
	&__pict {
		border: none;
		display: block;
		&:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
		&:nth-child(2) { grid-area: 3 / 1 / 4 / 2; }
		&:nth-child(3) { grid-area: 3 / 2 / 4 / 3; }
		&:nth-child(4) { grid-area: 4 / 1 / 5 / 2; }
		&:nth-child(5) { grid-area: 4 / 2 / 5 / 3; }
		@include media-breakpoint-up(lg) {
			&:nth-child(1) {  grid-area: 1 / 1 / 3 / 3; }
			&:nth-child(2) {  grid-area: 1 / 3 / 2 / 4; }
			&:nth-child(3) {  grid-area: 1 / 4 / 2 / 5; }
			&:nth-child(4) {  grid-area: 2 / 3 / 3 / 4; }
			&:nth-child(5) {  grid-area: 2 / 4 / 3 / 5;  }
		}
	}
	&__itm:nth-child(even) &__pict {
		@include media-breakpoint-up(lg) {
			&:nth-child(1) { grid-area: 1 / 3 / 3 / 5; }
			&:nth-child(2) { grid-area: 1 / 1 / 2 / 2; }
			&:nth-child(3) { grid-area: 1 / 2 / 2 / 3; }
			&:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
			&:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }

		}
	}

	&__img {
		display: block;
		width: 100%;
	}
}
.is-zoom {
	.s-collage {
		&__title {
			font-size: 24px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
	}
}
