-
	var gallery = [
		{
			images: [
				{img: 'images/s-collage/img-1.png'},
				{img: 'images/s-collage/img-2.png'},
				{img: 'images/s-collage/img-3.png'},
				{img: 'images/s-collage/img-4.png'},
				{img: 'images/s-collage/img-5.png'},
			]
		},
		{
			images: [
				{img: 'images/s-collage/img-10.png'},
				{img: 'images/s-collage/img-6.png'},
				{img: 'images/s-collage/img-7.png'},
				{img: 'images/s-collage/img-8.png'},
				{img: 'images/s-collage/img-9.png'},
			]
		}

	]

.s-collage
	._lcontainer.l-container
		.__title  ФОТО
		._gallery
			each itm in gallery
				._itm
					each img in itm.images
						a(href=img.img data-fancybox="gallery")._pict
							+picture({
								media: false,
								retina: false,
								img: img.img
							})._img
