mixin bCard(data)
	.b-card&attributes(attributes)
		if data.img
			._pict
				+picture({
					media: false,
					retina: false,
					img: data.img
				})._img
		._desc
			._date!=data.date
			._ttl!=data.ttl
			._txt!=data.desc
			+btn({
				tagName: 'div',
				ttl: 'Далее'
			})._btn.btn_fw-normal
		a(href='article.html')._lnk-abs
