.b-card {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	&__img {
		border-radius: 20px;
		width: 100%;
		display: block;
	}
	&__desc {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		flex: 1  0 0;
	}
	&__date {
		font-weight: 500;
		font-size: 12px;
		color: #656565;
	}
	&__ttl {
		font-weight: 600;
		font-size: 18px;
		color: #101e32;
		margin-top: 20px;
		@include media-breakpoint-up(lg) {
			font-size: 20px;
			margin-top: 10px;
		}
	}
	&__txt {
		font-weight: 400;
		font-size: 16px;
		color: #656565;
		margin-top: 20px;
		margin-bottom: 20px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 30px;

		}
		@include media-breakpoint-up(lg) {
			margin-top: 10px;
			margin-bottom: 40px;
		}
	}
	&__btn {
		margin-top: auto;
		width: 145px;
		font-size: 16px;
	}
}
.is-zoom {
	.b-card {
		&__date {
			font-size: 18px;
			@include media-breakpoint-up(lg) {
				font-size: 24px;
			}
		}
		&__ttl {
			font-size: 24px;
			@include media-breakpoint-up(lg) {
				font-size: 30px;
			}
		}
		&__txt {
			font-size: 22px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
		&__btn {
			font-size: 22px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
	}

}
