@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-angle-left {
    width: (16 / 24) * 1em;
}
.icon-angle-right {
    width: (16 / 24) * 1em;
}
.icon-arrow-next {
    width: (18 / 8) * 1em;
}
.icon-arrow-prev {
    width: (17 / 8) * 1em;
}
.icon-checked {
    width: (14 / 9) * 1em;
}
.icon-close {
    width: (28 / 28) * 1em;
}
.icon-eye {
    width: (30 / 21) * 1em;
}
.icon-search {
    width: (17 / 17) * 1em;
}
