.s-police {
	font-size: 12px;
	margin-top: 30px;
	@include media-breakpoint-up(md) {
		font-size: 14px;
		margin-top: 76px;
	}
	ul {
		margin: 20px 0 0;
	}
	p {
		margin: 20px 0 ;
	}
	a {
		color: inherit;
	}
}
.is-zoom {
	.s-police {
		font-size: 18px;
		@include media-breakpoint-up(lg) {
			font-size: 24px;
		}

	}
}
