- var reg = false
header.s-header
	._l-container.l-container
		a(href="home.html")._logo
			img(src="images/s-header/logo.svg" width="84" height="23")._logo-img
		._navbar-mobile#navbar-mobile

			if secondMenu
				nav._second-menu
					ul
						each itm in secondMenu
							li(class=itm.class)
								a(
									href=itm.url,
									class=itm.url === pageUrl ? 'is-selected': ''
								)=itm.ttl
								- reg = itm.ttl === 'Регистрация'? true: reg;
			nav._menu
				ul
					each itm in menu
						li(
							class=itm.url === 'search' ? 'is-search' : ''
						class=itm.class
							)
							a(
								href=itm.url,
								class=itm.url === pageUrl ? 'is-selected' : ''
								class=itm.url === 'search' ? 'js-search' : ''
							)=itm.ttl

			._additionally
				form._search#search
					button(type="button")._search-btn.-hidden-descktop.js-search.-hidden-desktop
						| Поиск
						+icon('search')
					._search-field
						input(type="search" placeholder="Поиск" name='search')
						button(type="button")._search-close.-hidden-phone.-hidden-tablet.js-search
							+icon('close')
				button.__zoom.js-zoom(
				class=reg? 's-header__zoom_has-reg': ''
				)
					+icon('eye')

					| Версия для
					br
					| слабовидящих
				a(href="https://t.me/satcomrusconf" target="_blank")._telegram
					include telgram.svg

		button(type="button")._burger.js-toggle-menu.-hidden-desktop
			span._burger-line
