.s-header {
	flex: 0 0 auto;
	background-color: $secondary;
	color: $light;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	&__l-container {
		display: flex;
		align-items: center;
		height: 51px;
		@include media-breakpoint-up(md) {
			height: 65px;
		}
		@include media-breakpoint-up(lg) {
			height: 60px;
		}
	}
	&__logo {
		border: none;
		&-img {
			display: block;
			width: 84px;
			height: 23px;
			@include media-breakpoint-up(md) {
				width: 108px;
				height: 30px;
			}
			@include media-breakpoint-up(lg) {
				width: 110px;
				height: 30px;
			}
		}
	}
	&__burger {
		cursor: pointer;
		margin-left: auto;
		display: flex;
		align-items: center;
		position: relative;
		width: 29px;
		background-color: transparent;
		border: none;
		outline: none;
		box-shadow: none;
		padding: 0;
		height: 100%;
		@include media-breakpoint-up(md) {
			width: 37px;
		}
		&.is-active &-line {
			background-color: transparent;
			&:before {
				top: 0;
				transform: rotate(-45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(45deg);
			}
		}
		&-line {
			height: 2px;
			display: block;
			width: 100%;
			background-color: $light;
			position: relative;
			transition: background-color $animation-base-time;
			@include media-breakpoint-up(md) {
				height: 3px;
			}
			&:after,
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				background-color: $light;
				transition: top $animation-base-time, bottom $animation-base-time , transform $animation-base-time;
			}
			&:before {
				top: -6px;
				@include media-breakpoint-up(md) {
					top: -8px;
				}
			}
			&:after {
				bottom: -6px;
				@include media-breakpoint-up(md) {
					bottom: -8px;
				}
			}
		}

	}
	&__navbar-mobile  {
		transform: translateX(-100%);
		position: fixed;
		top: 51px;
		height: calc(100% - 51px);
		padding: 40px 20px;
		overflow-x: hidden;
		overflow-y: auto;
		color: $light;
		width: 100%;
		left: 0;
		background-color: $secondary;
		transition: transform $animation-base-time;
		display: flex;
		flex-direction: column;
		&.is-open {
			transform: translateX(0);
			@include media-breakpoint-up(lg) {
			 transform: none;
			}
		}
		@include media-breakpoint-up(md) {
			top: 65px;
			padding: 40px 40px;
			height: calc(100% - 65px);
		}
		@include media-breakpoint-up(lg) {
			display: block;
			padding: 0;
			transform: none;
			height: auto;
			overflow: hidden;
			top: 60px;
			position: static;
			background-color: transparent;
		}

	}
	&__second-menu,
	&__menu {
		.is-english {
			@include media-breakpoint-up(md) {
				display: none;

			}
		}
		a {
			color: inherit;
			border: none;
			font-size: 14px;
			line-height: 1.5;
			font-weight: 400;
			&.is-selected {
				font-weight: 700;
			}
		}
		ul {
			padding: 0;
			list-style: none;
			margin: 0;
		}

		li {
			padding-left: 0;
			&:before {
				display: none;
			}
			&:not(:first-child) {
				margin-top: 26px;
				@include media-breakpoint-up(lg) {
					margin: 0;
				}
			}
			&.is-search {
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}
	&__menu {

		@include media-breakpoint-up(lg) {
			border: none;
			margin-top: 0;
			padding-top: 0;
			display: flex;
			align-items: center;
			font-family: $font-family-secondary;
		}
		ul {
			@include media-breakpoint-up(lg) {
				display: flex;
				margin-left: 25px;
				column-gap: 15px;
			}
			@include media-breakpoint-up(xl) {
				margin-left: 50px;
				column-gap: 30px;
			}
			@include media-breakpoint-up(xxxl) {
				margin-left: 191px;
			}
		}
		a {
			@include media-breakpoint-up(lg) {
				position: relative;
				transition: opacity $animation-base-time;
				display: block;
				&.is-selected,
				&:hover {
					opacity: 0.7;
					&:after {
						opacity: 1;
						bottom: 0;
					}
				}
				&:after {
					width: 100%;
					height: 1px;
					background-color: $light;
					content: '';
					position: absolute;
					opacity: 0;
					bottom: 5px;
					transition: opacity $animation-base-time, bottom $animation-base-time;
					left: 0;

				}

			};
		}
	}

	&__second-menu {
		@include media-breakpoint-down(md) {
			padding-bottom: 27px;
			border-bottom: 1px solid $light;
			margin-bottom: 29px;

		}
		.is-english {
			display: none;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}


		@include media-breakpoint-up(lg) {
			font-family: $font-family-secondary;
			position: absolute;
			font-weight: 500;
			z-index: 100;
			top: 100%;
			margin: 0;
			border: none;
			padding: 10px 0;
			left: 0;
			width: 100%;
			background-color: rgba(#1d1d1b, 0.2);
		}
		ul {
			@include media-breakpoint-up(lg) {
				display: flex;
				column-gap: 10px;
				row-gap: 10px;
				flex-flow: row wrap;
				max-width: 1200px;
				padding: 0 20px;
				margiN: 0 auto;

			}

		}
		a {
			@include media-breakpoint-up(lg) {
				color: $secondary;
				background-color: $light;
				border-radius: 55px;
				padding: 15px 25px;
				font-weight: 500;
				display: block;
				font-size: 14px;
				line-height: 1;
				transition: background-color $animation-base-time, color $animation-base-time;
				&.is-selected,
				&:hover {
					background-color: $secondary;
					color: $light;
				}

			}
		}

	}
	&__additionally {
		display: flex;
		flex-flow: row wrap;
		margin-top: auto;
		padding-top: 59px;
		position: relative;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
			padding-top: 0;
			height: 100%;
			flex-flow: row nowrap;
			align-items: center;
			position: absolute;
			right: 28px;
			top: 0;
		}
	}
	&__zoom {
		margin-top: 72px;
		background-color: transparent;
		display: inline-flex;
		font-weight: 500;
		font-size: 10px;
		line-height: 117%;
		color: $light;
		font-family: $font-family-secondary;
		@include btnReset;
		text-align: left;
		gap: 10px;
		.icon {
			font-size: 20px;
			min-width: 30px;
		}
		@include media-breakpoint-up(lg) {
			margin: 0 0 0 25px;
			font-weight: 500;
			font-size: 8px;
			gap: 7.44px;
			align-self: center;
			order: 4;
			.icon {
				font-size: 15px;
				min-width: 22px;
			}
		}
		&_has-reg {
			@include media-breakpoint-up(lg) {
				margin-left: 192px;
			}
		}
	}

	&__telegram {
		border: none;
		margin-left: auto;
		align-self: flex-end;
		margin-bottom: -6px;
		@include media-breakpoint-up(lg) {
			margin: 0;
			align-self: center;
			order: -1;
		}
		svg {
			display: block;
		}
	}
	&__search {
		width: 100%;
		min-width: 100%;
		@include media-breakpoint-up(lg) {
			max-height: none;
			position: fixed;
			top:0;
			left: 0;
			width: 100%;
			padding: 40px;
			background-color: $light;
			z-index: 100;
			transform: translateY(-100%);
			transition: transform $animation-base-time;
		}
		&-btn {
			@include btnReset;
			align-items: center;
			display: inline-flex;
			color: inherit;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			.icon {
				font-size: 17px;
				margin-left: 3px;
			}
		}
		&-close {
			@include btnReset;
			font-size: 40px;
		}
		&.is-open {
			@include media-breakpoint-up(md) {
				transform: translateY(0);
			}
		}
		&.is-open &-field {
			max-height: 52px;
			@include media-breakpoint-up(lg) {
				max-height: none;

			}

		}
		&-field {
			overflow: hidden;
			max-height: 0;
			transition: max-height $animation-base-time;
			@include media-breakpoint-up(lg) {
				max-height: none;
				display: flex;
				max-width: 800px;
				margin: 0 auto;
				gap: 50px;
				align-items: center;
			}
			input {
				width: 100%;
				background-color: transparent;
				border: 1px solid ;
				outline: none;
				color: $light;
				padding: 7px 23px;
				margin: 12px 0 0;
				font-size: 16px;
				line-height: 24px;
				border-radius: 20px;
				@include media-breakpoint-up(lg) {
					color: $dark;
					margin: 0;
					padding: 17px 23px;
					border-radius: 30px;
				}
			}
		}
	}
	&__lnk-reg {
		@include media-breakpoint-up(lg) {
			position: absolute;
			right: 152px;
			bottom: 100%;
			padding-bottom: 15px;
			a {
				width: 123px;
				height: 30px;
				background-color: $danger;
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 150%;
				font-weight: 500;
				color: $light;
				&:hover {
					background-color: $danger;
				}
			}

		}
	}
}
html {
	&.is-menu-open {
		overflow: hidden;
		body {
			overflow: hidden;
		}
	}
	&.is-zoom {
		.s-header__l-container {
			@include media-breakpoint-up(lg) {
				height: 70px;

			}
		}
		.s-header__menu a {
			@include media-breakpoint-up(lg) {
				font-size: 15.5px;
			}
			@include media-breakpoint-up(xl) {
				font-size: 18px;
			}
		}
		.s-header__second-menu a {
			font-size: 20px;
		}
		.s-header__second-menu {
			ul {
				@include media-breakpoint-up(md) {
					column-gap: 9px;
				}
			}

			a {
				@include media-breakpoint-up(lg) {
					padding: 15px 25px;
					font-size: 18px;
				}

			}
		}
		.s-header__lnk-reg {
			@include media-breakpoint-up(lg) {
				right: 165px;
			}
			@include media-breakpoint-up(xxl) {
				right: 224px;
			}
		}
		.s-header__lnk-reg a {
			width: 175px;
			height: 40px;
			font-size: 18px;
			@include media-breakpoint-up(lg) {
				width: 150px;
				height: 40px;
				font-size: 18px;
			}
			@include media-breakpoint-up(xxl) {
				width: 175px;
			}
		}
		.s-header__zoom {
			&_has-reg {
				@include media-breakpoint-up(lg) {
					margin-left: 10px;
				}
				@include media-breakpoint-up(xxl) {
					margin-left: 24px;
				}
			}
		}
	}

}
