.s-reg{
	margin-top: 15px;
	@include media-breakpoint-up(md) {
		margin-top: 50px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 50px;
	}
	&__form {
		padding: 41px 20px;
		border-radius: 20px;
		background-color: $light;
		margin-top: 60px;
		margin-left: -20px;
		margin-right: -20px;
		@include media-breakpoint-up(md) {
			margin: 96px 0 0;
			padding: 47px 36px;
		}
		@include media-breakpoint-up(lg) {
			padding: 47px 96px;
		}
		&-group + &-group {
			margin-top: 50px;
		}
		.input {
			margin: 0;
		}

	}

	&__button {
		display: flex;
		justify-content: space-between;
		margin-top: 31px;
		@include media-breakpoint-up(md) {
			margin-top: 55px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 61px;
		}
	}
	&__btn {
		&_ml-auto {
			margin-left: auto;
		}
		.icon {
			width: 18px;
			height: 8px;
			&-arrow-prev {
				margin-right: 10px;
			}
			&-arrow-next {
				margin-left: 10px;
			}
		}
	}
	&__steps {
		position: relative;
		overflow: hidden;
	}
	&__step {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		z-index: -10;
		transition: opacity $animation-base-time, visibility $animation-base-time;
		&.is-visible {
			opacity: 1;
			visibility: visible;
			position: static;
		}
	}
	&__count {
		font-weight: 600;
		font-size: 12px;
		color: #47237f;
		flex: 1 0 0;
		align-self: center;
		text-align: center;
	}
	&__desc {
		font-size: 14px;
		font-family: $font-family-secondary;
		color: #FFF;
		margin-top: 60px;
		@include media-breakpoint-up(md) {
			margin-top: 60px;
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 160px;
			display: flex;
			gap: 23px;


		}
	}
	&__col {
		@include media-breakpoint-up(md) {
			flex: 1 0 0;
			&:last-child {
				max-width: 473px;
			}
			&:first-child {
				flex: 0 0 percentage(566/1160)
			}

		}
	}
	&__title {
		color: $light;
		font-weight: 500;
		font-size: 26px;
		font-family: $font-family-secondary;
		@include media-breakpoint-up(md) {
			font-size: 30px;
		}
		&_closed {
			color: $danger ;
		}
	}
	&__title_closed + &__desc {
		margin-top: 40px;
	}

}
.is-zoom {
	.s-reg{
		&__title {
			font-size: 32px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 20px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 26px;

			}
		}
	}
}
