.s-reg
	._l-container.l-container
		if pageUrl === 'reg2.html'
			._title.-closed
				|РЕГИСТРАЦИЯ ЗАКРЫТА
		else
			._title ФОРМА РЕГИСТРАЦИИ
			form._form
				._steps
					._step.is-visible
						._form-group
							+input({
								label: {
									ttl: "Фамилия"
								},
								field: {
									required: true,
									pattern: ".{2,}"
								}
							}).input_btm-brd
						._form-group
							+input({
								label: {
									ttl: "Имя"
								},
								field: {
									required: true,
									pattern: ".{2,}"
								}
							}).input_btm-brd
						._form-group
							+input({
								label: {
									ttl: "Отчество"
								},
								field: {
									required: true,
									pattern: ".{2,}"
								}
							}).input_btm-brd
						._button
							._count    1/3
							+btn({
								tagName: 'button',
								type: 'submit',
								iconRight: 'arrow-next',
								ttl: 'ДАЛЕЕ',
							})._btn.js-next
					._step
						._form-group
							+input({
								label: {
									ttl: "Название компании*"
								},
								field: {
									required: true,
									pattern: ".{2,}"
								}
							}).input_btm-brd
						._form-group
							+input({
								label: {
									ttl: "Должность*"
								},
								field: {
									required: true,
									pattern: ".{2,}"
								}
							}).input_btm-brd
						._form-group
							.input.input_btm-brd
								label.input__label  Статус участия*
								._radio-group
									+radio({
										field: {
											name: 'session',
											required: true
										},
										label: {
											ttl: 'Делегат',
										}
									})
									+radio({
										field: {
											name: 'session',
											required: true

										},
										label: {
											ttl: 'Докладчик',
										}
									})
									+radio({
										field: {
											name: 'session',
											required: true

										},

										label: {
											ttl: 'Участник партнера',
										}
									})
									+radio({
										field: {
											name: 'session',
											required: true

										},
										label: {
											ttl: 'Представитель СМИ',
										}
									})
						._button
							+btn({
								iconLeft: 'arrow-prev',
								ttl: 'НАЗАД',
							})._btn.js-prev
							._count    2/3
							+btn({
								tagName: 'button',
								type: 'submit',
								iconRight: 'arrow-next',
								ttl: 'ДАЛЕЕ',
							})._btn.js-next
					._step
						._form-group
							+input({
								label: {
									ttl: "Контактное лицо*"
								},
								field: {
									required: true,
									pattern: ".{2,}"
								}
							}).input_btm-brd
						._form-group
							+input({
								label: {
									ttl: "Контактный телефон*"
								},
								field: {
									type: 'tel',
									mask: '+7 (999) 999-99-99',
									required: true,
									pattern: "\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}"
								}
							}).input_btm-brd
						._form-group
							+input({
								label: {
									ttl: "Контактный e-mail*"
								},
								field: {
									type: 'email',
									required: true,
								}
							}).input_btm-brd
						._form-group
							+input({
								label: {
									ttl: "Дополнительная информация"
								},
								field: {
								}
							}).input_btm-brd
						._form-group
							.input.input_btm-brd
								._radio-group
									+checkbox({
										field: {
										},
										label: {
											ttl: 'Стать спонсором'
										}
									})
									+checkbox({
										field: {
										},
										label: {
											ttl: 'Нажимая на кнопку, я соглашаюсь с политикой конфиденциальности'
										}
									})
									+checkbox({
										field: {
											name: 'session'
										},
										label: {
											ttl: 'Участник партнера'
										}
									})
						._button
							+btn({
								iconLeft: 'arrow-prev',
								ttl: 'НАЗАД',
							})._btn.js-prev
							._count    2/3
							+btn({
								tagName: 'button',
								type: 'submit',
								ttl: 'ПОДАТЬ ЗАЯВКУ',
							})._btn.js-next
		._desc
			._col
				|Для участия в 28-ой ежегодной международной конференции «SАTCOMRUS 2023: Спутниковая связь. Взгляд в будущее», пожалуйста, заполните форму и дождитесь подтверждения от организаторов.
			._col
				|Участие в конференции для слушателей бесплатное  в онлайн-формате (не более 2-х представителей  от компании).
				br
				br
				|Свыше 2-х участников: регистрационный взнос 10 000 рублей (вкл. НДС) за человека.
