mixin sArticle(data)
	article.s-article&attributes(attributes)
		._l-container.l-container
			._head
				h1.__title.-h2!=title
			if data.img
				._pict
					+picture({
						retina: false,
						media: false,
						img: data.img
					})._img
			._desc
				p
					| В 2018-2019 гг. в Китае продвигали две многоспутниковые низкоорбитальные группировки: Hongyun — 864 космических аппарата для предоставления высокоскоростного интернет-доступа в удаленных регионах страны; Hongyan — 320 аппаратов для обеспечения связи с подвижными объектами, а также для подключения базовых станций сотовых сетей. Это были государственные проекты, разрабатываемые CASC и CASIC, поэтому ничего удивительного, что в 2021 г. их объединили. Как проект развивается сейчас — в материале SATCOMRUS.
				p
					strong Guowang – единая государственная программа

				p В 2020 г. КНР
					=' '
					a(href="#") объявила
					=' '
					|стратегию развития спутникового интернета национальным проектом «новой инфраструктуры» и годом позже учредила государственную China Satellite Network Group (China SatNet) для наблюдения за построением мегагруппировки Guowang (сокращение от Guojia Wangluo, или «Национальная сеть»). Этот проект пришел на замену Hongyan и Hongyun, запланированных главным космическим подрядчиком Китая CASC и его дочерним оборонным гигантом CASIC соответственно.

				p В 2020 г. компания GW подала в Международный союз электросвязи (МСЭ) заявку на использование спектра для двух космических систем с загадочными названиями GW-A59 и GW-2. Было запрошено разрешение на использование следующих частот: 37,5-39,5 ГГц (связь космос-Земля); 39,5-42,5 ГГц (связь космос-Земля); 47,2-50,2 ГГц (связь Земля-космос) и 50,4-51,4 ГГц (связь Земля-космос). Общий заявленный размер группировки — 12 992 космических аппарата — уже демонстрировал планы на глобальный охват.

				p Годом позже директор Комиссии по науке и технологиям Китайской корпорации CASC Бао Вэйминь подтвердил планы по созданию мегагруппировки GW. Кроме этого, он упомянул запуск и испытание КА, предназначенного для отработки технологий для мегагруппировки ШПД.

				p В 2022 г. China Satellite Network Group подписала соглашение с правительством Шанхая о содействии развитию коммерческой космической деятельности. Она также учредила кластер в городе Чунцин для совместного строительства системы спутникового интернета. С тех пор новостей о прогрессе Guowang было немного.

				p До 2023 г. самым очевидным и едва ли не единственным кандидатом на роль оператора китайской глобальной негеостационарной (НГСО) группировки широкополосного доступа была компания China SatNet. Это государственное предприятие позиционировалось в качестве лидера в реализации амбиций КНР по созданию спутниковой мегагруппировки для ШПД.

				p В 2023 г. Китай провел три запуска аппаратов, заявленных в качестве тестовых КА для ШПД мегагруппировки. При этом в CASC заявили, что готовы предоставлять носители и обеспечивать групповые запуски спутников для системы Guowang.
				p
					strong Шанхайский космос

				p В 2023 г. в процесс вступило региональное правительство Шанхая, которое (отдельно от кластера, созданного China SatNet для системы Guowang) поддержало большое число промышленных и высокотехнологичных проектов, в том числе и проект спутникового интернета. Еще в октябре 2022 г. правительство города Шанхай опубликовало свой План развития новой инфраструктуры на 2023-2026 годы, который включал в себя широкую поддержку коммерческого использования космоса, в том числе и сети спутникового интернета. В октябре 2023-го был опубликован «Шанхайский план действий по содействию развитию коммерческой аэрокосмической отрасли и созданию высокоразвитой индустрии космической информации (2023-2025)». Он предполагает, что к 2025 г. в регионе будет сформирована полномасштабная космическая производственная цепочка: разработка и производство ракет, спутников, наземных станций, пользовательских терминалов, создание пусковых комплексов. Поставленные цели включают в себя наращивание мощностей для ежегодного выпуска 50 коммерческих ракет и 600 коммерческих КА.
				p
					strong Еще одна группировка с господдержкой

				p Тогда же появилась еще одна НОО-система широкополосного доступа — G60. Сейчас проект получил серьезную поддержку, чем и обратил на себя внимание.

				p Изначально он предусматривал развитие спутникового интернета в районах, расположенных вдоль шоссе G60 в долине реки Янцзы, известной также как «Научно-технический инновационный коридор G60», вдоль которого развивается научно-промышленный кластер.

				p Результатом поддержки регионального правительства Шанхая стало объявление в июле 2023 г. о начале строительства спутникового завода в Сунцзяне (район, расположенный на подчиненной Шанхаю территории). Завод обещал производить 300 космических аппаратов в год, снизив при этом стоимость спутника на 35%. Тогда же правительство Шанхая поддержало проект, известный как G60, полное название которого, что интересно, можно перевести и как «G60 Starlink». И с большой вероятностью новый завод будет строить эту группировку G60. В декабре он начал работу, первый спутник G60 сошел с конвейера. Модульная платформа позволяет модернизировать спутник под разные назначения, а плоский форм-фактор — эффективно использовать пространство под обтекателем ракеты.

				p Главная проблема G60 — частоты. Изначально проект был китайско-немецкий, и назывался KLEO Connect. Но в 2022 г. случился раскол компании на китайскую и европейскую фракции, который послужил причиной краха программы. В результате права на частотный спектр оказались проданы американскому оператору Rivada, который строит свою НОО-группировку. При этом немецкая сторона считает, что китайские компаньоны тайно продали американцам эти права, а китайская, соответственно, наоборот — обвиняет немцев. В свою очередь, и немцы, и китайцы судятся с американцами за эти частоты.

				p В июле 2023 г. Китай подал заявку на новую спутниковую группировку Salespace-1 из 1296 аппаратов: 36 КА в 36 орбитальных плоскостях. Высота орбиты — 1160 км, рабочие диапазоны частот — Ku, Q и V. Есть версия, что эта заявка направлена на обеспечение работы G60 в обход частот, оказавшихся у Rivada.

				p В начале 2024 г. Шанхайская компания Spacecom Satellite Technology привлекла 6,7 миллиарда юаней (ок. $943 млн) для строительства своей мегагруппировки G60. Первые 108 спутников должны быть запущены в течение 2024 г., а всего размер планируемой группировки — 12 000 КА.

				p Итак, к концу 2023 г. в КНР имеются две мегагруппировки с поддержкой государства: Guowang, и G60 Starlink. Оба проекта имеют глобальные планы, и разные эксперты уже строят свои предположения о том, как они будут делить мировой рынок с американскими глобальными низкоорбитальными системами.
				p
					strong GalaxySpace

				p При этом в Китае не только государственные структуры строят спутниковые группировки для ШПД, в этом направлении работают и частные компании.

				p В 2020 г. частная фирма GalaxySpace запустила первый тестовый аппарат для испытания технологий широкополосного доступа. Затем — в марте 2022 г. — она запустила еще шесть КА с той же целью. Какое-то время существовало предположение, что GalaxySpace участвует в государственном проекте создания низкоорбитальной группировки Guowang, но судя по ее деятельности, компания все же реализует собственный проект.

				p GalaxySpace разрабатывала космическую группировку для поддержки сети 5G, но до 2023-го информации про этот проект было немного. Однако в августе прошлого года GalaxySpace подала заявку на систему Black Spider из 1804 спутников. В ноябре компания также сообщила, что работает над новой серией КА, использующих технологию сверхтонких солнечных батарей для прямой связи аппарата с мобильной связью.

				p Для своей сети GalaxySpace разработала модель плоского спутника с гибкими солнечными батареями, первый пуск был запланирован на вторую половину 2023 г., но информации о запуске до сих пор нет. До этого, в июле 2022 г., был испытан на орбите новый космический аппарат GalaxySpace — Lingxi 03, что позволило отработать саму концепцию КА с гибкими солнечными батареями. Элементы батареи толщиной в 1 мм укладываются внутри обтекателя ракеты-носителя в компактную стопку толщиной 5 см, что позволяет рационально использовать рабочий объем. Но пока в публикациях компании сведений о ближайших запусках нет.

				p Интересно, что GalaxySpace опосредовано связан с одним китайским разработчиком смартфонов — компанией Xiaomi. Она через венчурный фонд Shunwei Capital, принадлежащий генеральному директору Xiaomi Лэй Цзюню, инвестировала в несколько ведущих космических компаний Китая, в том числе в Galaxy Space, iSpace и Deep Blue Aerospace. При этом никаких планов, например, предоставления связи со смартфона Xiaomi через спутники Galaxy Space, компания пока не анонсировала.

+sArticle({
	title: title,
	img: 'images/s-article/img.png'
})
