.s-article {
	margin: 89px 0 0;
	font-size: 14px;
	@include media-breakpoint-up(md) {
		font-size: 20px;
		margin-top: 122px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 222px;
	}
	&__title {
		margin: 0;
	}
	&__head {
		max-width: 572px;
	}
	&__pict {
		margin: 30px -20px 0;
		@include media-breakpoint-up(md) {
			margin-left: 0;
			max-width: 760px;

			margin-right: 0;
		}
	}
	&__img {
		display: block;
		max-width: 100%;
		@include media-breakpoint-up(md) {
			border-radius: 20px;

		}
	}
	&__desc {
		max-width: 860px;
		margin-top: 30px;
	}
	p {
		margin: 20px 0;
	}
	a {
		color: inherit;
	}

}
.is-zoom {
	.s-article {
		font-size: 20px;
		@include media-breakpoint-up(lg) {
			font-size: 30px;
		}
		&__head {
			max-width: 100%;
		}
	}
}
