.s-place {
	color: $light;
	@include media-breakpoint-up(md) {
		margin-top: 21px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 47px;
	}
	&__l-container {
		@include media-breakpoint-up(lg) {
			display: flex;
			gap: 40px;

		}
	}
	&__map {
		margin-top: 20px;
		height: 214px	;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		@include media-breakpoint-up(md) {
			margin-top: 40px;
			height: 469px;
		}
		@include media-breakpoint-up(lg) {
			height: 368px;
			margin-top: 0;
			flex: 0 0 percentage(591/1160);
		}
	}
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__ttl {
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		@include media-breakpoint-up(md) {
			font-size: 30px;

		}
	}
	&__address {
		margin-top: 10px;
		font-weight: 400;
		font-size: 18px;
		@include media-breakpoint-up(md) {
			margin-top: 13px;
			font-size: 24px;
		}
	}
}
.is-zoom {
	.s-place {
		&__ttl {
			font-size: 24px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
		&__address {
			font-size: 24px;
			@include media-breakpoint-up(md) {
				font-size: 30px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 34px;
			}
		}
	}

}
