.s-aplication
	._l-container.l-container
		form._form.js-validate
			._form-group
				+input({
					label: {
						ttl: "Название компании"
					},
					field: {
						placeholder: "Иван",
						required: true,
						pattern: ".{2,}"
					}
				}).input_btm-brd
			._form-group
				+input({
					label: {
						ttl: "Ваш телефон"
					},
					field: {
						type: 'tel',
						mask: '+7 (999) 999-99-99',
						required: true,
						pattern: "\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}"
					}
				}).input_btm-brd

			._form-group
				+input({
					label: {
						ttl: "E-mail"
					},
					field: {
						type: 'email',
						required: true,
					}
				}).input_btm-brd
			._form-group
				+input({
					label: {
						ttl: "Выдающиеся достижения*"
					},
					field: {
						required: true,
						pattern: ".{2,}"
					}
				}).input_btm-brd
			._form-group
				+input({
					label: {
						ttl: "Категория номинации*"
					},
					field: {
						placeholder: 'Вклад в развитие международного сотрудничества',
						required: true,
						pattern: ".{2,}"
					}
				}).input_btm-brd
			._button
				+btn({
					tagName: "button",
					ttl: 'ПОДАТЬ ЗАЯВКУ',
					type: 'submit'
				})._btn
