.s-gallery
	._l-container.l-container
		._title  ФОТОГАЛЕРЕЯ
		._pict
			a(href='images/s-gallery/img-1.png' data-fancybox="gallery")._lnk
				+picture({
					media: false,
					retina: false,
					img: 'images/s-gallery/img-1.png'
				})._img
