.s-gallery {
	margin-top: 91px;
	color: $light;
	@include media-breakpoint-up(md) {
		margin-top: 127px;
	}
	&__title {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		text-transform: uppercase;
		font-family: $font-family-secondary;
		@include media-breakpoint-up(md) {
			font-weight: 700;
			font-size: 30px;
		}
	}
	@include media-breakpoint-up(lg) {
	    margin-top: 171px;
	}
	&__pict {
		margin-top: 20px;
		@include media-breakpoint-up(lg) {
			margin-top: 32px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 56px;
		}
	}
	&__lnk {
		border: none;
	}
	&__img {
		border-radius: 20px;
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}
.is-zoom {
	.s-gallery {
		&__title {
			font-size: 24px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
	}
}
