.s-subscription
	._l-container.l-container
		._desc
			._ttl Подпишитесь на рассылку новостей индустрии
			._txt Или следите за новостями в
				= ' '
				a(href="#").lnk.lnk_reverse telegram
		form._form.js-validate
			+input({
				field: {
					type: 'email',
					placeholder: "Ваш E-mail",
					required: true,
				},
			})._input.input_sm
			+btn({
				type: 'submit',
				tagName: 'button',
				ttl: 'Подписаться'
			})._btn

