.s-subscription {
	padding: 30px 0;
	background: #ededed;
	margin-top: 85px;
	@include media-breakpoint-up(md) {
		margin-top: 158px;
	}
	@include media-breakpoint-up(lg) {
		padding: 24px 0 27px;
		margin-top: 94px;
	}
	&__ttl {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.29;
		color: #47237F;
		font-family: $font-family-secondary;
	}
	&__txt {
		font-weight: 400;
		font-size: 16px;
		color: #656565;
		font-family: $font-family-secondary;
		margin-top: 8px;
	}
	&__l-container {
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 15px;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
	  row-gap: 15px;
		margin-top: 35px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
			width: 335px;
			flex: 0 0 335px;
			row-gap: 10px;

		}
		@include media-breakpoint-up(lg) {
			flex: 0 0  448px;
			flex-flow: row nowrap;
			gap: 7px;
		}
	}
	&__input {
		margin-top: 0;
		@include media-breakpoint-up(lg) {
			flex: 1 0 0;
		}
		.input__field {
			&::placeholder {
				opacity: 0.5;
				color: $font-base-color;
			}
		}
	}
	&__btn {
		width: 100%;
		font-size: 14px;
		min-height: 0;
		@include media-breakpoint-up(lg) {
			line-height: 1;
			max-width: 163px;

		}
	}
}
.is-zoom {
	.s-subscription {
		&__ttl {
			font-size: 26px;
			@include media-breakpoint-up(lg) {
				font-size: 30px;
			}
		}
		&__txt {
			font-size: 22px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
		&__form {
			flex-direction: column;
			@include media-breakpoint-up(lg) {
				flex: 0 0 373px;
				max-width: 373px;
			}
		}
		&__input .input__field {
			@include media-breakpoint-up(lg) {
				height: 56.5px;
				font-size: 26px;
				border-width: 2px;
				padding: 0 34px;
			}
		}
		&__btn {
			@include media-breakpoint-up(lg) {
			    font-size: 24px;
				height: 56.5px;
				width: 100%;
				min-width: 100%;
			}


		}
	}

}
