-
	var result = [
		{
			ttl: 'Группе компаний «РЭЙС»',
			desc: 'За разработку и серийное производство линейки спутникового оборудования и VSAT-станций нового поколения'
		},
		{
			ttl: 'ООО «Радуга-Интернет»',
			desc: 'За поддержку абонентов спутникового ШПД в Ка-диапазоне'
		},
		{
			ttl: 'ROMANTIS BRASIL',
			desc: 'Самому успешному партнеру ГП КС в Латинской Америке'
		},
		{
			ttl: 'АО «РТКомм.РУ»',
			desc: 'Флагману спутникового интернета на новом КА «Экспресс-АМУ7»'
		},
		{
			ttl: 'Группе компаний «Орион»',
			desc: 'За сохранение стабильного российского ТВ-вещания и технические новации'
		},
		{
			ttl: 'Генеральному директору «АмРуссТел» Тенякшеву Александру Михайловичу',
			desc: 'За личный вклад в развитие спутниковой связи в Российской Федерации'
		}
	]
.s-results(class=pageUrl === 'satcomrus2.html' ? 's-results_mt-0': '')
	._l-container.l-container
		._title Итоги премии 2022
		._list
			each itm in result
				._itm
					._ttl!=itm.ttl
					._desc!=itm.desc
