.s-results {
	color: $light;
	margin-top: 59px;
	@include media-breakpoint-up(md) {
		margin-top: 166px;
	}
	&__title {
		font-weight: 700;
		font-size: 30px;
		font-family: $font-family-secondary;
	}
	&__list {
		margin-top: 40px;
		@include media-breakpoint-up(lg) {
			margin-top: 73px;
		}
	}
	&__itm {
		margin-top: 30px;
		border-bottom: 1px solid rgba($light, 0.4);
		padding-bottom: 15px;
		font-size: 14px;
		@include media-breakpoint-up(md) {
			padding-bottom: 20px;
			font-size: 16px;
			margin-top: 34px;
		}
	}
	&__ttl {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 13px;
		@include media-breakpoint-up(md) {
			margin-bottom: 10px;
			font-size: 24px;
		}
	}
}
.is-zoom {
	&__title {
		font-size: 36px;
		@include media-breakpoint-up(lg) {
			font-size: 40px;

		}
	}

	&__itm {

		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 22px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 26px;

		}
	}
	&__ttl {
		font-size: 26px;
		@include media-breakpoint-up(md) {
			font-size: 30px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 34px;
		}
	}
}
