.s-group-application
	._l-container.l-container
		._title ХОТИТЕ ПОДАТЬ ГРУППОВУЮ ЗАЯВКУ?

		._cols
			._col
				|Для групповой заявки нужно скачать форму .xls, заполнить и направить ее в Оргкомитет конференции на satcomrus@rscc.ru
			._col
				+btn({
					ttl: 'СКАЧАТЬ ФОРМУ'
				}).btn.btn_border.btn_fs-16
