.s-group-application {
	margin-top: 104px;
	font-size: 14px;
	color: #FFF;

	@include media-breakpoint-up(md) {
		margin-top: 116px;
		font-size: 18px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 166px;
	}

	&__title {
		font-weight: 500;
		font-size: 26px;
		font-family: $font-family-secondary;
		@include media-breakpoint-up(md) {
			font-size: 30px;

		}
	}
	&__cols {
		margin-top: 57px;
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			justify-content: space-between;

		}
	}
	&__col {
		&:first-child {
			@include media-breakpoint-up(md) {
			    max-width: 430px;
			}
		}
	}
	&__btn {
		margin-top: 40px;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-up(md) {
			min-width: 350px;
		}
		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}
}

.is-zoom {
	.s-group-application {
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 38px;
		}
		&__title {
				font-size: 32px;
				@include media-breakpoint-up(md) {
					font-size: 36px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 40px;
				}
			}
	}
}
