include ../b-card/b-card

mixin sNews(data)
	.s-news&attributes(attributes)
		._l-container.l-container
			._list
				each itm in data.list
					._itm
						+bCard(itm)
			if data.btn
				._button
					+btn(data.btn)._btn.btn_fs-16.btn_not-upper.btn_fw-normal
