.s-news {
	margin-top: 61px;
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 50px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			margin-top: 69px;
			column-gap: 20px;
			row-gap: 90px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 74px;
			row-gap: 100px;
		}
	}
	&__itm {
		display: flex;
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 20)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(3, 20)
		}
	}
	&__button {
		text-align: center;
		margin-top: 50px;
		@include media-breakpoint-up(md     ) {
			margin-top: 125px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 117px;
		}
	}
	&__btn {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-up(lg) {
			padding-left: 54px;
			padding-right: 54px;

		}
	}

}

