.s-programs {
	color: $light;
	&__desc {
		max-width: 338px;
		margin: 15px 0 0;
		font-weight: 500;
		font-size: 14px;
		@include media-breakpoint-up(md) {
			margin-top: 21px;
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {

		}
	}
	&__list {
		margin: 43px 0 0;
		@include media-breakpoint-up(md) {
			margin-top: 72px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 115px;
		}
	}
	&__itm {
		margin-top: 50px;
		@include media-breakpoint-up(md) {
			margin-top: 70px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 60px;
		}
	}
	&__button {
		margin-top: 53px;
		text-align: center;
		@include media-breakpoint-up(md) {
			margin-top: 70px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 69px;
		}
	}
}
.is-zoom {
	.s-programs {
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 22px;
			}
			@include media-breakpoint-up(lg) {
				max-width: 50%;
				font-size: 36px;
			}
		}

	}

}
