include ../b-program/b-program
-
	var list = [
		{
			time: '10:00-10:30 ',
			ttl: 'Регистрация участников конференции'
		},
		{
			card: true,
			time: '10:30-14:00',
			ttl: 'ПЛЕНАРНАЯ СЕССИЯ',
			title: 'Космический горизонт: тренды глобальной спутниковой отрасли, задачи и перспективы России',
			total: '<div class="b-program__ttl ">Темы для дискуссии:</div><ul><li>Драйверы рынка и новые ниши для бизнеса</li><li>Перспективы развития геостационарных спутников связи</li><li>Цифровые спутники и гибкая полезная нагрузка</li><li>Будущее цифровой экономики и место спутниковой связи в устранении цифрового неравенства</li><li>Конвергенция спутниковой и сотовой связи – новая эра для индустрии телекоммуникаций</li><li>Развитие международного сотрудничества в области космической связи</li>  </ul>  <p>Модератор: Юрий Урличич, председатель Совета Ассоциации участников рынка спутниковой связи,советник генерального директора ФГУП «Космическая связь»  </p><div class="b-program__ttl">Участники:</div><ol><li>Алексей Волин, генеральный директор ФГУП «Космическая связь», председатель ИЦК «Спутниковая связь»</li><li>Юрий Урличич, советник генерального директора ФГУП «Космическая связь»</li><li>Олег Иванов, генеральный директор ФГБУ НИИР</li><li>Евгений Нестеров, генеральный директор АО «РЕШЕТНЁВ»</li><li>Сергей Плуготаренко, генеральный директор АНО «Цифровая экономика»</li><li>Карен Казарян, директор по аналитике АНО «Цифровая экономика»</li><li>Игорь Чурсин, заместитель генерального директора по технической политике АО «ГЛОНАСС»</li><li>Павел Черенков, генеральный директор АО «Спутниковая система «Гонец»</li><li>Дмитрий Севастьянов, генеральный директор АО «Газпром космические системы»</li><li>Яна Харлан, заместитель генерального директора ООО «Бюро 1440»</li>  </ol>'
		},
		{
			time: '14:00 – 14:45  ',
			ttl: 'ОБЕД'
		},
		{
			card: true,
			time: '14:45-16:45',

			ttl: 'СЕССИЯ 1',
			title: 'Работа российских операторов спутниковой связи в современных условиях и перспективы развития',
			total: '<div class="b-program__ttl ">Темы для дискуссии:</div><ul><li>Драйверы рынка и новые ниши для бизнеса</li><li>Перспективы развития геостационарных спутников связи</li><li>Цифровые спутники и гибкая полезная нагрузка</li><li>Будущее цифровой экономики и место спутниковой связи в устранении цифрового неравенства</li><li>Конвергенция спутниковой и сотовой связи – новая эра для индустрии телекоммуникаций</li><li>Развитие международного сотрудничества в области космической связи</li>  </ul>  <p>Модератор: Юрий Урличич, председатель Совета Ассоциации участников рынка спутниковой связи,советник генерального директора ФГУП «Космическая связь»  </p><div class="b-program__ttl">Участники:</div><ol><li>Алексей Волин, генеральный директор ФГУП «Космическая связь», председатель ИЦК «Спутниковая связь»</li><li>Юрий Урличич, советник генерального директора ФГУП «Космическая связь»</li><li>Олег Иванов, генеральный директор ФГБУ НИИР</li><li>Евгений Нестеров, генеральный директор АО «РЕШЕТНЁВ»</li><li>Сергей Плуготаренко, генеральный директор АНО «Цифровая экономика»</li><li>Карен Казарян, директор по аналитике АНО «Цифровая экономика»</li><li>Игорь Чурсин, заместитель генерального директора по технической политике АО «ГЛОНАСС»</li><li>Павел Черенков, генеральный директор АО «Спутниковая система «Гонец»</li><li>Дмитрий Севастьянов, генеральный директор АО «Газпром космические системы»</li><li>Яна Харлан, заместитель генерального директора ООО «Бюро 1440»</li>  </ol>'
		},
		{
			time: '16:45-17:00 ',
			ttl: 'КОФЕ-БРЕЙК'
		},
		{
			card: true,
			time: '14:45-16:45',

			ttl: 'СЕССИЯ 2',
			title: 'Индустриализация спутниковой связи',
			total: '<div class="b-program__ttl ">Темы для дискуссии:</div><ul><li>Драйверы рынка и новые ниши для бизнеса</li><li>Перспективы развития геостационарных спутников связи</li><li>Цифровые спутники и гибкая полезная нагрузка</li><li>Будущее цифровой экономики и место спутниковой связи в устранении цифрового неравенства</li><li>Конвергенция спутниковой и сотовой связи – новая эра для индустрии телекоммуникаций</li><li>Развитие международного сотрудничества в области космической связи</li>  </ul>  <p>Модератор: Юрий Урличич, председатель Совета Ассоциации участников рынка спутниковой связи,советник генерального директора ФГУП «Космическая связь»  </p><div class="b-program__ttl">Участники:</div><ol><li>Алексей Волин, генеральный директор ФГУП «Космическая связь», председатель ИЦК «Спутниковая связь»</li><li>Юрий Урличич, советник генерального директора ФГУП «Космическая связь»</li><li>Олег Иванов, генеральный директор ФГБУ НИИР</li><li>Евгений Нестеров, генеральный директор АО «РЕШЕТНЁВ»</li><li>Сергей Плуготаренко, генеральный директор АНО «Цифровая экономика»</li><li>Карен Казарян, директор по аналитике АНО «Цифровая экономика»</li><li>Игорь Чурсин, заместитель генерального директора по технической политике АО «ГЛОНАСС»</li><li>Павел Черенков, генеральный директор АО «Спутниковая система «Гонец»</li><li>Дмитрий Севастьянов, генеральный директор АО «Газпром космические системы»</li><li>Яна Харлан, заместитель генерального директора ООО «Бюро 1440»</li>  </ol>'
		},
		{
			time: '18:40-19:00 ',
			ttl: 'Награждение победителей satcomrus awards 2023'
		},
		{
			time: '20:00-22:00 ',
			ttl: 'ФУРШЕТ'
		}
	]
.s-programs
	._container.l-container
		if pageUrl === 'during.html'
			h1._title.-h1  ПРОГРАММА
			._desc В программе указано местное время, GMT+4 (отличается от московского +1 час).
		._list
			each itm in list
				._itm
					+bProgram(itm)
		._button
			+btn({
				ttl: 'СКАЧАТЬ БРОШЮРУ КОНФЕРЕНЦИИ'
			})._btn.btn_border
