html {
	font-size:62.5%;
	height: 100%;
}

body {
	background-color: $secondary;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	color: $font-base-color;
	@include base-text-style;
	&.bg-white {
		background-color: $light;
	}
}
@mixin btnReset() {
	cursor: pointer;
	padding: 0;
	outline: none;
	border: none;
	background-color: transparent;
	box-shadow: none;
}
* {
	box-sizing: border-box;
}
.lnk,
a {
	text-decoration: none;
	transition: border-bottom-color $animation-base-time;
	border-bottom: 1px solid;
	color: $font-link-color;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:hover {
		border-bottom-color: transparent;
	}
	&_reverse {
		border-bottom-color: transparent;
		&:hover {
			border-bottom-color: currentColor;
		}
	}
}
ul {
	list-style: none;
	padding-left: 0;
	li {
		padding-left: 20px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			top: 0.5em;
			left: 0;
			border-radius: 100%;
			background-color: currentColor;
		}
	}
}
ol {
	list-style-type: none;
	counter-reset: num;
	padding: 0;
	li {
		&:before {
			content: counter(num) '. ';
			counter-increment: num;
		}
	}
}
p {
	margin: 9px 0;
	@include media-breakpoint-up(md) {
		margin: 12px 0;
	}
	@include media-breakpoint-up(lg) {
		margin: 18px 0;
	}

}
b, strong {
	font-weight: 700;
}
p {
	margin: (14* 1.3px) 0;
}
.l-main {
	flex: 1 0 auto;
	&_white {
		background: #FFF;
	}
}
.l-container {
	width: 100%;
	max-width: 1638px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	@include media-breakpoint-up(md) {
		padding: 0 40px;
	}
	@include media-breakpoint-up(lg) {
	    max-width: 1200px;
		padding: 0 20px;
	}
}
