.btn {
	outline: none;
	box-shadow: none;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
	line-height: (17px/14px);
	border-radius: 50px;
	text-transform: uppercase;
	color: $light;
	background-color: $secondary;
	border: 1px solid $secondary;
	font-family:$base-font-family;
	transition: color $animation-base-time, background-color $animation-base-time, border-color $animation-base-time;
	padding: 9px 30px;
	min-height: 40px;
	@include media-breakpoint-up(lg) {
		min-height: 50px;
		padding: 14px 30px;
	}
	&:hover {
		color: $light;
		border-color: rgba($secondary, 0.8);
		background-color: rgba($secondary, 0.8)
	}
	&_secondary {
		background-color: $secondary;
		color: $light;
	}

	&:disabled:hover, &.is-disabled:hover, &[disabled]:hover,
	&:disabled, &.is-disabled, &[disabled] {
		cursor: not-allowed;

	}
	&_border {
		border: 1px solid $light;
		@include media-breakpoint-up(md) {
			padding-left: 43px;
			padding-right: 43px;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 51px;
			padding-left: 51px;
		}
		&:hover {
			background-color: $light;
			color: $secondary;
		}
	}

	&_border-dark {
		border: 1px solid $secondary;
		background-color: transparent;
		color: $secondary;
		&:hover {
			background-color: $secondary;
			color: $light
		}
	}
	&_fs-16 {
		font-size: 16px;
	}
	&_not-upper {
		text-transform: none;
	}
}
.is-zoom {
	.btn {
		font-size: 20px;
		@include media-breakpoint-up(lg) {
			font-size: 24px;
		}
		&_fs-16 {
			font-size: 22px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
	}
}
