@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-LightItalic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-ExtraLightItalic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-ExtraLight.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Light.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2'),
	url('../fonts/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Italic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Thin.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}




@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-MediumItalic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}


@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-ThinItalic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}


@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}





@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
	url('../fonts/IBMPlexSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-LightItalic.woff2') format('woff2'),
	url('../fonts/RobotoMono-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-Light.woff2') format('woff2'),
	url('../fonts/RobotoMono-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-Italic.woff2') format('woff2'),
	url('../fonts/RobotoMono-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-MediumItalic.woff2') format('woff2'),
	url('../fonts/RobotoMono-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-SemiBold.woff2') format('woff2'),
	url('../fonts/RobotoMono-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
	url('../fonts/RobotoMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-Medium.woff2') format('woff2'),
	url('../fonts/RobotoMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-SemiBoldItalic.woff2') format('woff2'),
	url('../fonts/RobotoMono-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-Bold.woff2') format('woff2'),
	url('../fonts/RobotoMono-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
	url('../fonts/RobotoMono-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

