.input {
	margin-top: 20px;
	position: relative;
	font-weight: 300;
	font-size: 18px;

	&_sm[data-placeholder] &__field {
		padding-left: 35px;
	}


	&__label {
		display: block;
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 18px;
		@include media-breakpoint-up(md) {
			margin-bottom: 13.5px;
			font-size: 20px;
		}
	}

	&__field {
		resize: none;
		color: #47237f;;
		width: 100%;
		display: block;
		padding: 18px 20px 17px;
		border-radius: 30px;
		border: 1px solid #47237F;
		outline: none;
		box-shadow: none;
		font-family: $font-family-third;
		font-weight: 400;
		font-size: 16px;
		line-height: 1;
		transition: color $animation-base-time, border-color $animation-base-time;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&::placeholder {
			opacity: 1;
			color: #47237f;;

		}

		&.is-invalid {
			border-color: $danger!important;
		}

		&_textarea {
			height: 100px;
			resize: none;
		}

	}

	&_sm &__field {
		padding: 12px 23px 12px;
		font-size: 15px;
	}

	&__field.is-invalid ~ &__error {
		display: block;
	}

	&__error {
		display: none;
		color: $danger;
	}
	&_btm-brd  &__label {
			font-weight: 300;
			font-size: 20px;
			color: #47237f;
		}
	&_btm-brd  &__field {
		font-weight: 400;
		font-size: 14px;
		color: #47237f;
		margin-top: 27px;
		border-radius: 0;
		padding: 0 0 6px;
		border: none;
		border-bottom: 1px solid $dark;
	}
	&__radio-group {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.is-zoom {
	.input {
		&__label {
			font-size: 24px;
			@include media-breakpoint-up(md) {
				font-size: 26px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 30px;
			}
		}

		&__field {
			font-size: 22px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
		&_btm-brd  &__label {
				font-size: 26px;
				@include media-breakpoint-up(lg) {
					font-size: 30px;
				}
			}
		&_btm-brd &__field {
				font-size: 20px;
				@include media-breakpoint-up(lg) {
					font-size: 2px;
				}
			}
	}
	.checkbox,
	.radio {
		font-size: 21px;
		@include media-breakpoint-up(lg) {
			font-size: 25px;

		}
	}
}
.radio {
	font-weight: 300;
	font-size: 15px;
	&__input {
		position: absolute;
		opacity: 0;
	}
	&__input.is-invalid+ &__label &__field {
		color: $danger;
		border-color: $danger;
	}
	&__label {
		cursor: pointer;
		position: relative;
		padding-left: 29px;

		color: #47237f;
		min-height: 20px;
		display: inline-block;
	}
	&__input:checked + &__label &__field {
		border-color: $secondary;
		&:after {
			opacity: 1;
		}
	}
	&__label:hover &__field {
		border-color: $secondary;

	}
	&__field {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 100%;
		border: 2px solid rgba(14, 27, 46, 0.6);
		padding: 3px;
		cursor: pointer;
		transition: border-color $animation-base-time;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			background-color: $secondary;
			opacity: 0;
			transition: opacity $animation-base-time;
		}
	}
}
.checkbox {
	font-weight: 300;
	font-size: 15px;
	&__input {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}

	&__label {
		cursor: pointer;
		position: relative;
		padding-left: 29px;
		color: #47237f;
		min-height: 20px;
		display: inline-block;
	}
	&__input:checked + &__label &__icon {
		opacity: 1;
	}
	&__input:checked + &__label &__field {
		border-color: $secondary;
	}
	&__label:hover &__field {
		border-color: $secondary;

	}
	&__field {
		width: 16px;
		height: 16px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;
		top: 0;
		border-radius: 3px;
		border: 2px solid $dark;
		cursor: pointer;
		transition: border-color $animation-base-time;

	}
	&__icon {
		font-size: 14px;
		min-width: 16px;
		opacity: 0;

		transition: opacity $animation-base-time;
	}
}
