@mixin device($class, $breakpoints: $device-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		@if($breakpoint == 'phone') {
			@include modifier(#{$class}-phone) {
				@include media-breakpoint-down(sm) {
					@content;
				}
			}
		}
		@if($breakpoint == 'tablet') {
			@include modifier(#{$class}-tablet) {
				@include media-breakpoint-between(md, md) {
					@content;
				}
			}
		}
		@if($breakpoint == 'desktop') {
			@include modifier(#{$class}-desktop) {
				@include media-breakpoint-up(lg) {
					@content;
				}
			}
		}
	}
}

@include modifier(upper) {
	text-transform: uppercase;
}
@include modifier(fw-normal) {
	font-weight: 400;
}
@include modifier(fw-medium) {
	font-weight: 500;
}

@include modifier(fw-semibold) {
	font-weight: 600;
}
@include modifier(fw-bold) {
	font-weight: 700;
}
@include modifier(italic) {
	font-style: italic;
}

@include device(hidden) {
	display: none!important;
}
@include modifier(hide) {
	display: none;
}
@include modifier(mt-0) {
	margin-top: 0;
}
@include modifier(pt-0) {
	padding-top: 0;
}
@include modifier(pb-0) {
	padding-bottom: 0;
}
@include modifier(h1) {
	@include text-style-h1();
}
.is-zoom  {
	@include modifier(h1) {
		font-size: 32px;
		@include media-breakpoint-up(lg) {
			font-size: 60px;
		}
	}
}

@include modifier(h2) {
	@include text-style-h2();
}
.is-zoom  {
	@include modifier(h2) {
		font-size: 32px;
		font-style: normal;
		font-family:$font-family-base;
		line-height: 1.3 ;
		@include media-breakpoint-up(lg) {
			font-size: 40px;
		}
	}
}
@include modifier(h3) {
	@include text-style-h3();
}
.is-zoom  {
	@include modifier(h2) {
		font-size: 24px;
		@include media-breakpoint-up(md) {
			font-size:36px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 40px;
		}
	}
}
@include modifier(h4) {
	@include text-style-h4();
}
@include modifier(h5) {
	@include text-style-h5();
}
@include modifier(lnk-abs) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

@include modifier(lnk-abs) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
