@mixin base-text-style () {
	font-family: $font-family-base;
	font-style: normal;
	font-size: 14px;
	line-height: 1.3;
	font-weight: 300;
	@include media-breakpoint-up(md) {
		font-size: 20px;
	}

}

@mixin text-style-h1() {
	font-weight: 700;
	font-style: normal;
	font-family: $font-family-secondary;
	font-size: 26px;
	line-height: 1.1;
	@include media-breakpoint-up(md) {
		font-size: 50px;
	}
}
h1 {
	@include text-style-h1();
}
.is-zoom  {
	h1 {
		font-size: 32px;
		@include media-breakpoint-up(lg) {
			font-size: 60px;
		}
	}
}
@mixin text-style-h2() {
	font-weight: 700;
	font-size: 26px;
	font-style: normal;
	font-family: $font-family-secondary;
	line-height: 1.3 ;
	@include media-breakpoint-up(md) {
		font-size: 30px;
	}
}
h2 {
	@include text-style-h2();
}
@mixin text-style-h3() {
	font-weight: 700;
	font-style: normal;
	font-family: $font-family-secondary;
	font-size: 18px;
	line-height: 1.2;
	@include media-breakpoint-up(lg) {
		font-size: 30px;
	}
}
h3 {
	@include text-style-h3();
}
@mixin text-style-h4() {
	font-weight: 700;
	font-style: normal;
	font-family: $font-family-secondary;
	font-size: 22px;
	line-height: 1.2;
}
h4 {
	@include text-style-h4();
}
@mixin text-style-h5() {
	font-weight: 500;
	font-style: normal;
	font-family: $font-family-secondary;
	font-size: 20px;
	line-height: 1.25;
}
h5 {
	@include text-style-h5();
}
