// Font
$font-family-base: "IBM Plex Sans", Arial, Helvetica, sans-serif;
$font-family-secondary: "Roboto Mono", Arial, Helvetica, sans-serif;
$font-family-third: "Inter", Arial, Helvetica, sans-serif;

/**
 * Grid systemn
 * -----------------------------------------
 */

//Breakpoints
$grid-breakpoints: (
	xs: 0,
	xsm: 375px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	xxxl:  1650px
);
$device-breakpoints: (
	phone: xs,
	tablet: md,
	desktop: lg
);
// Colors
$dark: #1D1D1B;
$success: #084396;
$light: #FFF;
$warning: #F4F83B;
$secondary: #47237F;
$danger: #D10A10;


$font-base-color: $dark;
$font-link-color: #101e32;

// time
$animation-base-time: 0.3s;


// Shadow
$shadow-success: 0px 0px 42px 0px rgba(126, 135, 252, 0.76);
$shadow-success-sm: 0px 0px 16px 0px rgba(126, 135, 252, 0.76);
$shadow-success-light: 0px 0px 16px 0px rgba(161, 167, 252, 0.76);
$shadow-dark: 0px 0px 16px 0px rgba(129, 134, 206, 0.25); // search
