.s-conditions {
	position: relative;
	color: $light;
	font-family: $font-family-secondary;
	font-weight: 400;
	font-size: 16px;
	@include media-breakpoint-up(md ) {
		margin-top: 20px;
		font-size: 22px;
	}
	@include media-breakpoint-up(md) {
		margin-top: 20px;
	}
	&__l-container {
		@include media-breakpoint-up(lg) {
			display: flex;
			gap: 32px;
		}
	}
	ul + &__ttl {
		margin-top: 50px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;

		}
	}
	ul {
		margin: 20px 0 0;
	}
	&__head {
		font-weight: 700;
		font-size: 26px;
		@include media-breakpoint-up(md) {
			font-size: 30px;

		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 351px;
			max-width: 351px;

		}
	}
	&__desc {
		margin-top: 39px;
		@include media-breakpoint-up(lg) {
			margin-top: 0;

		}
		@include media-breakpoint-up(md) {
			flex: 1 0 0;

		}
	}

}
.is-zoom {
	.s-conditions {
		font-size: 22px;
		@include media-breakpoint-up(md ) {
			font-size: 28px;
		}
		@include media-breakpoint-up(lg) {
		  font-size: 32px;
		}

		&__head {
			font-size: 32px;
			@include media-breakpoint-up(md) {
				font-size: 36px;

			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
	}
}
