.s-conditions
	._l-container.l-container
		._head._upper
			|Базовый пакет участника
		._desc
			._ttl._upper Содержание пакета:
			ul
				li участие во всех официальных мероприятиях конференции в соответствии с ее программой;
				li питание в ходе официальных мероприятий, предусмотренных программой конференции (в очном формате);
				li материалы конференции (пакет участника) – (в очном формате);
				li услуги синхронного перевода во время конференции;
				li экскурсионная программа
			._ttl._upper СТОИМОСТЬ ОЧНОГО ФОРМАТА:
			ul
				li бесплатно (не более 2-х человек от компании)
				li за каждого последующего участника: 30 000 рублей
			ul
				li бесплатно (не более 2-х человек от компании)
				li за каждого последующего участника: 10 000 рублей
