.s-contacts {
	margin-top: 30px;
	font-size: 18px;
	@include media-breakpoint-up(md) {
		font-size: 20px;
		margin-top: 90px;

	}
	&__content {

	}
	a {
		&:not(.btn) {
			color: inherit;
			border: none;
		}
	}
	p {
		margin: 20px 0;
		@include media-breakpoint-up(lg) {
			margin: 41px 0;

		}
	}
	&__ttl {
		font-weight: 600;
		font-size: 20px;
		color: #47237f;
		margin-top: 49px;
		@include media-breakpoint-up(md) {
			margin-top: 69px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 87px;

		}
	}
	&__form {
		max-width: 758px;
		margin-top: 44px;
		@include media-breakpoint-up(md) {
			margin-top: 91px;
		}
		&-group {
			margin-top: 20px;
		}
	}
	&__btn {
		margin-top: 30px;
		@include media-breakpoint-up(md) {
			margin-top: 41px;

		}
	}
	&__footnote {
		margin-top: 14px;
		font-size: 16px;
		color: #656565;
		@include media-breakpoint-up(md) {
			font-size: 14px;
			margin-top: 17px;
		}
	}

}
.is-zoom {
	.s-contacts {
		font-size: 24px;
		@include media-breakpoint-up(md) {
			font-size: 26px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 30px;
		}
		&__ttl {
			font-size: 26px;
			@include media-breakpoint-up(lg) {
				font-size: 30px;

			}
		}
		&__footnote {
			font-size: 22px;
			@include media-breakpoint-up(md) {
				font-size: 20px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 24px;
			}
		}
	}
}
