.s-contacts
	._l-container.l-container
		._content
			p
				|По вопросам делегатского и партнерского участия в конференции просим обращаться
				br
				|к Марии Цветаевой (тел.
				=' '
				+phone({phone: '+7 495-730-0450'})
				= ' '
				|доб. 1198, e-mail:
				=' '
				a(href="mailto:satcomrus@rscc.ru)") satcomrus@rscc.ru)
				|.
			p По вопросам выступлений на конференции:
				= ' '
				+phone({phone: '+7 495-730-0450'})
				= ' '
				|доб.1194 (Анастасия Андреева)
			p Телефон для общих контактов:
				= ' '
				+phone({phone: '+7 495-730-0450'})
				= ' '
				|доб. 1187 (Полина Морозова)
			._ttl Чтобы направить сообщение в оргкомитет, заполните форму ниже.
			form._form.js-validate
				._form-group
					+input({
						label: {
							ttl: "Ваше имя"
						},
						field: {
							placeholder: "Иван",
							required: true,
							pattern: ".{2,}"
						}
					})
				._form-group
					+input({
						label: {
							ttl: "Электронная почта"
						},
						field: {
							type: 'email',
							required: true,
							placeholder: "Email",
						}
					})
				._form-group
					+input({
						label: {
							ttl: "Тема сообщения"
						},
						field: {
							placeholder: "Напишите тему",
							required: true,
							pattern: ".{2,}"
						}
					})
				._form-group
					+input({
						label: {
							ttl: "Текст сообщения"
						},
						field: {
							class: 'input__field_textarea',
							tagName: 'textarea',
							placeholder: "Введите текст",
						}
					})
				+btn({
					tagName: "button",
					ttl: 'ОТправить',
					type: 'submit'
				})._btn
				.__footnote
