- var id = 0;
mixin sFilter(data)
	.s-filter&attributes(attributes)
		._l-container.l-container
			each itm in data.list
				- id++
				input(type="radio" checked=itm.checked name=itm.name id='s-filter-'+id)._input
				label._label(for='s-filter-'+id)=itm.ttl


+sFilter({
	list: [
		{
			ttl: 'Все',
			checked: true,
			name: 's-filter'
		},
		{
			ttl: 'Российские новости',
			name: 's-filter'
		},
		{
			ttl: 'Зарубежные новости',
			name: 's-filter'
		},
		{
			ttl: 'Аналитика',
			name: 's-filter'
		}
	]
})
