.s-filter {
	margin: 30px 0 0;
	&__l-container {
		display: flex;
		flex-flow: row wrap;
		gap: 10px;
	}
	&__input {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
	&__input:checked + &__label {
		color: #774cd3;
		border-color: #774cd3;
	}
	&__label {
		display: block;
		border: 1px solid #101e32;
		border-radius: 40px;
		padding: 7px 19px;
		font-weight: 500;
		font-size: 16px;
		cursor: pointer;
		line-height: 19px;
		transition: color $animation-base-time, border-color $animation-base-time;
	}

}
.is-zoom {
	.s-filter {
		&__l-container {
			@include media-breakpoint-up(md) {
				gap: 20px;

			}
			@include media-breakpoint-up(lg) {
				gap: 25px;
			}
		}
		&__label {
			display: flex;
			align-items: center;
			font-size: 22px;
			line-height: 25px;
			height: 39px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 19px;
			padding-right: 19px;
			@include media-breakpoint-up(md) {
				font-size: 26px;
				line-height: 30px;
				height: 52px;

			}

		}

	}
}
