.b-banner {
	margin: 80px 0 0;
	@include media-breakpoint-up(md) {
		margin-top: 100px;
	}
	@include media-breakpoint-up(lg) {
		margin: 240px 0 0;

	}
	&__img {
		max-width: 100%;
		display: block;
	}
}
