.s-videos {
	margin-top: 55px;
	@include media-breakpoint-up(md) {
		margin-top: 80px;
	}
	&__title {
		font-weight: 600;
		color: #47237f;
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 30px;
		}
	}
	&__head {
		display: flex;
		margin: 50px 0 0;
		padding: 0;
		border-bottom: 1px solid rgba($dark, 0.5);
		gap: 4px;
		@include media-breakpoint-up(md) {
			margin-top: 40px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 44px;
		}
		&-itm {
			flex: 1 0 0;
			padding: 0;

			&:before {
				display: none;
			}
		}

		&-lnk {
			font-weight: 600;
			color: #9cacb8;
			font-size: 8px;
			display: block;
			text-transform: uppercase;
			border-bottom: 2px solid transparent;
			padding-bottom: 5px;
			@include media-breakpoint-up(md) {
				font-size: 14px;
				padding-bottom: 15px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 16px;
				padding-bottom: 18px;
			}

			&.is-active {
				border-bottom-color:  #1d1d1b;
			}
		}
	}

	&__tabs {
		position: relative;
		overflow: hidden;
	}

	&__tab {
		padding-top: 24 px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity $animation-base-time, visibility $animation-base-time;
		@include media-breakpoint-up(md) {
			padding-top: 57px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 86px;

		}
		&.is-visible {
			position: static;
			opacity: 1;
			visibility: visible;
		}
	}
	&__video {
		max-width: 831px;
		margin-left: auto;
		margin-right: auto;
		img {
			display: block;
			max-width: 100%;
		}
	}

}
.is-zoom {
	.s-videos {
		&__title {
			font-size: 26px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
		&__head {
			overflow-x: auto;
			overflow-y: hidden;
			&-lnk {
				font-size: 14px;
				@include media-breakpoint-up(md) {
					font-size: 20px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 26px;
				}
			}
		}

	}
}
