.s-videos
	._l-contaier.l-container
		._title ВИДЕО СЕССИЙ
		ul._head
			li._head-itm
				a(href="#tab-4" data-tab="#tab-4" role="button")._head-lnk.is-active  ПЛЕНАРНАЯ СЕССИЯ
			li._head-itm
				a(href="#tab-5" data-tab="#tab-5" role="button")._head-lnk  1 СЕССИЯ
			li._head-itm
				a(href="#tab-6" data-tab="#tab-6" role="button")._head-lnk  2 СЕССИЯ
			li._head-itm
				a(href="#tab-7" data-tab="#tab-7" role="button")._head-lnk  SATCOMRUS AWARDS
		._tabs
			._tab.is-visible#tab-4
				._video
					img(src="images/s-videos/img.png" loading="lazy")._img
			._tab#tab-5 tab-5
			._tab#tab-6 tab-6
			._tab#tab-7 tab-7
