extends base/pug/base
append variables
	- var title = 'SAtcomrus 2023'
	- var pageClass = 'bg-white'
	- var pageUrl = 'archive.html'
	- var secondMenu = typeSecondMenu.between

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-presentation/s-presentation
	include components/s-videos/s-videos
	include components/s-collage/s-collage







