extends base/pug/base
append variables
	- var title = 'Архив'
	- var pageClass = 'bg-white'
	- var pageUrl = 'arhiv.html'
	- var secondMenu = typeSecondMenu.between

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-archive/s-archive







