extends base/pug/base
append variables
	- var title = 'Низкоорбитальные группировки — элемент новой инфраструктуры Китая'
	- var pageClass = 'bg-white'
	- var pageUrl = 'article.html'
	- var secondMenu = typeSecondMenu.between
block content
	include components/s-article/s-article




