extends base/pug/base
append variables
	- var title = 'Уважаемые коллеги!'
	- var pageClass = ''
	- var pageUrl = 'do-konferencii.html'
	- var secondMenu = typeSecondMenu.now
	-
		var promo = {
			date: '28.09 - 29.09',
			place: 'АСТРАХАНЬ, MARINS GRAND HOTEL',
			organizers: {
				img: [
					'images/s-main-banner/img-1.svg',
					'images/s-main-banner/img-2.svg',
				]
			},
			general: {
				img: 'images/s-main-banner/img-3.svg',
			}
		}

block content
	include components/s-main-banner/s-main-banner
	include components/s-about-conference/s-about-conference
	+sAboutConference({
		title: 'Уважаемые коллеги!',
		desc: '<p>28-29 сентября 2023 года ГП КС проводит XXVIII международную конференцию «SАTCOMRUS 2023: Спутниковая связь. Взгляд в будущее». Мероприятие состоится в городе Астрахань и объединит представителей спутниковых операторов, телеком-компаний и вещателей, производителей космических аппаратов и оборудования, а также органов власти. В этом году конференция будет посвящена перспективам развития российской отрасли до 2035 года в современных экономических и геополитических реалиях.</p> <p>Участники пленарной сессии SATCOMRUS 2023 обсудят, как отечественным компаниям отвечать на глобальные тренды и вызовы индустрии. В фокусе дискуссии — преимущества гибких полезных нагрузок, которые сейчас серьезно повышают привлекательность ГСО-группировок в условиях конкуренции с негеостационарными аппаратами. Также будет затронута одна из самых актуальных тем последних лет: как построить гибридные сети связи и обеспечить бесшовность подключения своим пользователям. Все больше компаний по всему миру представляют спутниковые решения через обычные смартфоны: известно про планы и проекты у Apple, Huawei, Qualcomm и Bullitt. Эксперты NSR прогнозируют, что этот рынок принесет $66,8 млрд дохода в течение следующего десятилетия, а число абонентов к 2030 году превысит 350 млн. Но при внедрении технологии могут возникнуть и сложности – с диапазоном частот, стоимостью смартфонов с новой функцией, мощностью антенн и др. Докладчики рассмотрят способы решения этих проблем на мероприятии.</p> <p>На Сессии 1 представители операторов и телеком-компаний подведут промежуточные итоги работы за год и обсудят роль спутниковой связи в цифровизации российской экономики с акцентом на морскую и авиа- логистику. Кроме этого спикеры расскажут про современное состояние сетей VSAT на КА с многолучевыми антеннами и новые возможности по доставке медиа-контента. Также на сессии поднимут вопрос, какие изменения ждут рынок модемов. По оценкам аналитиков, глобальный рынок телекоммуникационного оборудования в денежном выражении в 2022 году вырос только на 3 %, при том, что в 2021-м продажи росли в годовом исчислении приблизительно на 8%. Не последнюю роль в этом сыграли проблемы с поставками. Другие причины обсудят в рамках дискуссии.</p> <p>Одной из важнейших тем мероприятия станет обеспечение технологического суверенитета нашей страны. Сейчас для российских предприятий открываются новые перспективы и освобождаются ниши, ранее занимаемые иностранными компаниями. Создается благоприятная среда для разработки собственных инновационных проектов и решений. Этому в большой степени способствуют и государственные меры поддержки отрасли. В первую очередь речь идет о создании профильных Индустриальных центров компетенций, которые стимулируют развитие отечественных технологических проектов и способствуют импортозамещению в разных областях экономики. Участники Сессии 2 расскажут об успехах ИЦК, а также про последние наработки в области технологий кодирования видеосигнала, внедрения оборудования высокоточного позиционирования на сельхозтехнике и создания полезных сервисов для компаний в Арктической зоне.</p> <p>Второй день конференции предполагает проведение деловых переговоров. Также гости мероприятия смогут принять участие в культурной программе. Участие в конференции для слушателей бесплатное (не более двух представителей от компании).</p> <p>Будем рады видеть вас среди партнеров и участников SATCOMRUS 2023!</p> <p>Партнером ФГУП «Космическая связь» по подготовке конференции и ее техническим оператором является ООО «Цифродинамика».</p> <p><strong>С уважением,<br>А.К. Волин, генеральный директор ФГУП «Космическая связь»</strong></p>'
	})
	include components/s-sesions/s-sesions
	include components/s-media/s-media
	include components/s-partners/s-partners
	include components/s-about/s-about



