extends base/pug/base
append variables
	- var title = 'Авторизация'
	- var pageClass = ''
	- var pageUrl = 'during.html'
	- var secondMenu = typeSecondMenu.now


block content
	include components/s-main-banner/s-main-banner
	include components/s-programs/s-programs
	include components/s-media/s-media
	include components/s-partners/s-partners
	include components/b-banner/b-banner
	+bBanner({
		img: 'images/b-banner/img-1.png'
	}).s-page-banner_hidden-phone.s-page-banner_hidden-tablet





