extends base/pug/base
append variables
	- var title = 'Благодарим за участие в satcomrus 2023'
	- var pageClass = ''
	- var pageUrl = 'home.html'
	- var secondMenu = typeSecondMenu.between

	-
		var promo = {
			class: 's-main-banner__desc_center',
			organizers: {
				img: [
					'images/s-main-banner/img-1.svg',
					'images/s-main-banner/img-2.svg',
				]
			}
		}

block content
	include components/s-main-banner/s-main-banner
	include components/s-conference/s-conference
	+sConference({
		title: 'БЛАГОДАРИМ ЗА УЧАСТИЕ В SATCOMRUS 2023',
		subTitle: 'АРХИТЕКТОРЫ КОСМОСА: ЭКСПЕРТЫ СПУТНИКОВОЙ ОТРАСЛИ ПРЕДСТАВИЛИ НА SATCOMRUS 2023 СТРАТЕГИИ РАЗВИТИЯ И ПЕРСПЕКТИВЫ РЫНКА КОСМИЧЕСКИХ ТЕЛЕКОММУНИКАЦИЙ ДО 2035 ГОДА',
		desc: '<p>Российская сфера спутниковых коммуникаций оправилась отпотрясений прошлого года ивошла вновую фазу развития. Ктакому выводу пришли участники международной конференции SATCOMRUS 2023 иДемо-дня ИЦК «Спутниковая связь», прошедшего врамках мероприятия. Оба события состоялись 28сентября вАстрахани исобрали насвоей площадке более 250 экспертов отрасли, атакже тысячу зрителей онлайн.</p><p>Пленарную сессию открыл генеральный директорГП КС, председатель профильного Индустриального центра компетенций Алексей Волин. Онобозначил наиболее яркие тренды наглобальном ироссийском рынках космических телекоммуникаций. Одной иззнаковых тенденций 2023 года стало то, что зарубежные операторы, хотя исократили долю своего присутствия нарынке РФ, совсем снего уйти незахотели.</p><p>«Конкуренция нарынке сохранилась, как иинтерес иностранцев кработе вРоссии. ГПКС сохранило контакты сзарубежными партнерами, втом числе инамеждународных рынках. Вструктуре выручкиГП КСдоля иностранных клиентов по-прежнему составляет ровно половину, мыпродолжаем предоставлять сервисы почти в60 странах мира»,— подчеркнул генеральный директор ФГУП «Космическая связь».</p>',
		desc2: '<p>Еще один важный тренд— консолидация игроков рынка, атакже протекционизм идемпинг состороны небольших национальных операторов, которые стремятся запускать собственные аппараты вкосмос. Это достаточно сильно влияет нарынок исоздает высококонкурентную среду, считает Алексей Волин.</p><p>Вместе стем продолжается рост цен насозданиеКА. ВРоссии это вызвано изменением курса итем, что врамках перехода наимпортозамещение отечественные производители вынуждены снуля создавать новые решения иразработки.</p><p>Важные задачи, которые нужно решить при обеспечении технологической независимости, упомянул исоветник генерального директораГП КС, председатель Совета Ассоциации участников рынка спутниковой связи Юрий Урличич, который выступил модератором пленарной сессии SATCOMRUS.</p><p>«Хотелосьбы, чтобы 35 созданных ИЦК дали возможность нашей стране поднять индустриальную основу экономики ипомогли телекоммуникационной отрасли. Этому могут поспособствовать проекты, например, почипам, которых унас нехватает: процессоров, необходимых всей вычислительной технике. Идеально, конечно, чтобы они были наотечественной архитектуре. Кроме того, нужны микросхемы beamforming, которые являются ключевым чипом при создании активной фазированной антенной решетки (АФАР). Такой чип обеспечивает управление лучом антенны, создавая необходимые амплитудно-фазовые соотношения между излучателями»,— сообщил Юрий Урличич.</p>',
		btn: {
			class: 'btn_border btn_lg',
			ttl: 'Полный текст читайте на сайте'
		}
	})
	include components/s-media/s-media




