extends base/pug/base
append variables
	- var title = 'UI'
	- var pageClass = ''
	- var pageUrl = '/'


block content
	link(rel="stylesheet" href='./css/index.css')
	br
	br
	br
	br
	br
	br

	.l-container
		h2 Выбирете раздел
		.b-i-dropdown
			._head
				._ttl Страницы проекта
				+icon('angle-left')._icon
			._list
				._itm.is-selected(data-tab='#tab01') Страницы проекта
				._itm(data-tab='#tab02') Модальные окна
				._itm(data-tab='#tab1') Типографика
				._itm(data-tab='#tab3') Кнопки
				._itm(data-tab='#tab4') Формы
				._itm(data-tab='#tab5') Иконки
		br
		br
		br
		.b-i-tabs
			._tab#tab01.is-active
				._head Страницы проекта
				._body
					mixin projectsNav(data)
						.projects-nav&attributes(
							attributes)
							ol
								each itm in data
									li
										a(
											href=itm.url,
											target=itm.fancybox? false : "_blank",
											data-fancybox=itm.fancybox? true : false,
										)=itm.ttl
					+projectsNav([
						{
							"url": "home.html",
							"ttl": "Главная между конференциями"
						},
						{
							"url": "do-konferencii.html",
							"ttl": "Главная до конференции"
						},
						{
							"url": "during.html",
							"ttl": "Во время конференции"
						},
						{
							"url": "after.html",
							"ttl": "После конференции"
						},
						{
							"url": "news.html",
							"ttl": "Новости"
						},
						{
							"url": "smi.html",
							"ttl": "Satcomrus в СМИ"
						},
						{
							"url": "article.html",
							"ttl": "Новость"
						},
						{
							"url": "police.html",
							"ttl": "Политика"
						},
						{
							"url": "arhiv.html",
							"ttl": "Архив"
						},
						{
							"url": "kontakty.html",
							"ttl": "Контакты"
						},
						{
							"url": "programma.html",
							"ttl": "Программа"
						},
						{
							"url": "mesto-provedeniya.html",
							"ttl": "Место проведения"
						},
						{
							"url": "media.html",
							"ttl": "Медиа"
						},
						{
							"url": "satcomrus.html",
							"ttl": "Satcomrus"
						},
						{
							"url": "satcomrus2.html",
							"ttl": "Satcomrus Между конференциями"
						},
						{
							"url": "usloviya-uchastiya.html",
							"ttl": "Условия участия"
						},
						{
							"url": "vopros-spikeru.html",
							"ttl": "Вопрос спикеру"
						},
						{
							"url": "partnery.html",
							"ttl": "Партнеры"
						},
						{
							"url": "reg.html",
							"ttl": "Регистрация"
						},
						{
							"url": "reg2.html",
							"ttl": "Регистрация закрыта"
						},
						{
							"url": "archive.html",
							"ttl": "Архив 2024"
						}
					])
			._tab#tab02
				._head Модальные окна
				._body
					+projectsNav([
						{
							url: "#callback",
							fancybox: true,
							ttl: "Обратный звонок"
						}
					])
			._tab#tab1
				._head Типографика
				._body
					h1 Заголовок h1
					h2 Заголовок h2
					h3 Заголовок h3
					h4 Заголовок h4
					h5 Заголовок h5
					p paragraph
					p.text.-fs-xl text large
						p.text.-fs-xlg text x big
						p.text.-fs-lg text big
						p.text.-fs-sm text small
						p.text.-fs-xs text x small
						p.text.-fs-xxs text xx small
					ul
						li list item
						li list item
						li list item
					ol
						li list item
						li list item
						li list item
			._tab#tab3
				._head Кнопки
				._body

					+btn({
						ttl: "Смотреть товары"
					})

					+btn({
						ttl: "Подписаться"
					}).btn_secondary

					+btn({
						ttl: "В корзину"
					}).btn_dark

					+btn({
						ttl: "Оставить отзыв"
					}).btn_danger

					+btn({
						ttl: "В корзине"
					}).btn_success
					+btn({
						ttl: "В корзине"
					}).btn_light
					+btn({
						ttl: "Подробнее о товаре"
					}).btn_success-brd

					h3 Размеры кнопок
					p
						code btn_lg
					+btn({
						ttl: "Смотреть товары"
					}).btn_lg

					+btn({
						ttl: "В корзину"
					}).btn_dark.btn_lg

					+btn({
						ttl: "Оставить отзыв"
					}).btn_danger.btn_lg

					+btn({
						ttl: "В корзине"
					}).btn_success.btn_lg
					+btn({
						ttl: "В корзине"
					}).btn_light.btn_lg
					+btn({
						ttl: "Подробнее о товаре"
					}).btn_success-brd.btn_lg
					p
						code btn_md
					+btn({
						ttl: "Смотреть товары"
					}).btn_md

					+btn({
						ttl: "В корзину"
					}).btn_dark.btn_md

					+btn({
						ttl: "Оставить отзыв"
					}).btn_danger.btn_md

					+btn({
						ttl: "В корзине"
					}).btn_success.btn_md
					+btn({
						ttl: "В корзине"
					}).btn_light.btn_md
					+btn({
						ttl: "Подробнее о товаре"
					}).btn_success-brd.btn_md
			._tab#tab4
				._head Формы
				._body
					form.js-validate
						p Для проверки формы используем класс у тега form,
							=' '
							code js-validate
							=' '
						+input({
							label: {
								ttl: "Ваше имя*"
							},
							field: {
								placeholder: "Иван",
								required: true,
								pattern: ".{2,}"
							}
						})
						+input({
							label: {
								ttl: "Ваше имя*"
							},
							field: {
								placeholder: "Иван",
								required: true,
								pattern: ".{2,}"
							}
						})._input.input_sm

						button(type="submit") submit
			._tab#tab5
				._head Иконки
				._body
					mixin icons(data)
						.b-i-icons.-color-success
							each icon in data
								._itm
									+icon(icon.icon)._icon
									code=icon.icon
					+icons([
						{icon: 'checked'},
						{icon: 'eye'},
						{icon: 'angle-left'},
						{icon: 'angle-right'},
						{icon: 'close'},
						{icon: 'search'},
					])
	br
	br
	br
	br
	br
block script
	script(src=`${baseDir}js/index.js`)
