extends base/pug/base
append variables
	- var title = 'Контакты'
	- var pageClass = 'bg-white'
	- var pageUrl = 'kontakty.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-contacts/s-contacts









