extends base/pug/base
append variables
	- var title = 'Медиа'
	- var pageUrl = 'media.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-collage/s-collage











