extends base/pug/base
append variables
	- var title = 'Место проведения'
	- var pageUrl = 'mesto-provedeniya.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-place/s-place
	include components/s-gallery/s-gallery










