extends base/pug/base
append variables
	- var title = 'Новости и аналитика'
	- var pageClass = 'bg-white'
	- var pageUrl = 'news.html'
	- var secondMenu = typeSecondMenu.between
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-filter/s-filter
	include components/s-news/s-news
	+sNews({
		list: [
			{
				img: 'images/b-card/img-1.png',
				date: '06.03.2024',
				ttl: 'Низкоорбитальные группировки — элемент новой инфраструктуры Китая',
				desc: 'В 2018-2019 гг. в Китае продвигали две низкоорбитальные группировки: Hongyun — для высокоскоростного интернет-доступа  в удаленных регионах страны; Hongyan —  для связи с подвижными объектами  и подключения базовых станций сотовых сетей.'
			},
			{
				img: 'images/b-card/img-2.png',
				date: '06.03.2024',
				ttl: 'Время первых: ГП КС подвело итоги года на встрече  в Красноярске',
				desc: 'По итогам 2023 года «Космическая связь» подтвердила статус спутникового оператора №1 в России: компания увеличила долю на отечественном рынке космических телекоммуникаций на 11% и сейчас занимает 61% рынка.'
			},
			{
				img: 'images/b-card/img-3.png',
				date: '06.03.2024',
				ttl: 'Время первых: NASA отменяет миссию  по обслуживанию спутника стоимостью больше $2 млрд',
				desc: 'NASA отменило многомиллиардный проект  по обслуживанию и дозаправке спутников.  В кратком заявлении от 1 марта 2024 года агентство объявило о прекращении миссии  On-Orbit Servicing, Assembly and Manufacturing 1 (OSAM-1).'
			},
			{
				img: 'images/b-card/img-4.png',
				date: '06.03.2024',
				ttl: 'Rivada получила доступ  к британскому рынку спутниковой связи',
				desc: 'Государственное агентство Великобритании Ofcom выдало международной компании Rivada Space Networks лицензию, которая дает возможность предоставлять услуги космической связи в стране.'
			},
			{
				img: 'images/b-card/img-5.png',
				date: '06.03.2024',
				ttl: 'Качественное изменение в отрасли или нишевой продукт: малые геостационарные космические аппараты выходят на рынок',
				desc: 'Идея использования малого космического аппарата на ГСО возникла более двадцати лет назад. Аргументы остались те же: КА весом  и стоимостью в 3-4 раза меньше стандартного позволяют оператору проводить более гибкую политику развития.'
			},
			{
				img: 'images/b-card/img-6.png',
				date: '06.03.2024',
				ttl: 'Компания mu Space начала сотрудничать с ispace  по подготовке к лунным миссиям',
				desc: 'Компания mu Space and Advanced Technology, производитель космических аппаратов  и поставщик услуг спутникового интернета  в Юго-Восточной Азии, начала сотрудничество  с ispace, японской компанией по исследованию Луны с использованием роботов.'
			},

			{
				img: 'images/b-card/img-7.png',
				date: '06.03.2024',
				ttl: 'Низкоорбитальные группировки — элемент новой инфраструктуры Китая',
				desc: 'В 2018-2019 гг. в Китае продвигали две низкоорбитальные группировки: Hongyun — для высокоскоростного интернет-доступа  в удаленных регионах страны; Hongyan —  для связи с подвижными объектами  и подключения базовых станций сотовых сетей.'
			},
			{
				img: 'images/b-card/img-8.png',
				date: '06.03.2024',
				ttl: 'Время первых: ГП КС подвело итоги года на встрече  в Красноярске',
				desc: 'По итогам 2023 года «Космическая связь» подтвердила статус спутникового оператора №1 в России: компания увеличила долю на отечественном рынке космических телекоммуникаций на 11% и сейчас занимает 61% рынка.'
			},
			{
				img: 'images/b-card/img-9.png',
				date: '06.03.2024',
				ttl: 'Время первых: NASA отменяет миссию  по обслуживанию спутника стоимостью больше $2 млрд',
				desc: 'NASA отменило многомиллиардный проект  по обслуживанию и дозаправке спутников.  В кратком заявлении от 1 марта 2024 года агентство объявило о прекращении миссии  On-Orbit Servicing, Assembly and Manufacturing 1 (OSAM-1).'
			}
		],
		btn: {
			ttl: 'Загрузить еще',
			class: 'btn_border-dark'
		}
	})



