extends base/pug/base
append variables
	- var title = 'Партнеры'
	- var pageUrl = 'partnery.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-partners/s-partners











