extends base/pug/base
append variables
	- var title = 'Политика в отношении обработки персональных данных'
	- var pageClass = 'bg-white'
	- var pageUrl = 'news.html'
	- var secondMenu = typeSecondMenu.between

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-police/s-police






