extends base/pug/base
append variables
	- var title = 'Программа'
	- var pageUrl = 'programma.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png',
		desc: 'время местное, gmt+4'
	})
	include components/s-programs/s-programs









