extends base/pug/base
append variables
	- var title = 'Регистрация'
	- var pageUrl = 'reg2.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-reg/s-reg











