extends base/pug/base
append variables
	- var title = 'Satcomrus awards 2023'
	- var pageUrl = 'satcomrus2.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-results/s-results
	include components/s-media/s-media












