extends base/pug/base
append variables
	- var title = 'Satcomrus в СМИ'
	- var pageClass = 'bg-white'
	- var pageUrl = 'smi.html'
	- var secondMenu = typeSecondMenu.between
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-news/s-news
	+sNews({
		list: [
			{
				date: '06.03.2024',
				ttl: '"Решетнев" планирует создать377 космических аппаратовсвязи и навигации в 2024-2030гг',
				desc: 'Информационные спутниковые системыим. Решетнева планируют создать 377спутников связи и навигации в 2024-2030 годах, говорится в презентациигенерального директора предприятияЕвгения Нестерова'
			},
			{
				date: '06.03.2024',
				ttl: 'ГП КС планирует заменитьвосемь космических аппаратовдо 2030 года',
				desc: 'ГП "Космическая связь" заменит восемькосмических аппаратов к 2030 году,один из них - "Экспресс-АМУ4". Взамене нуждаются и два спутника"Газпром космические системы", укоторых срок активного существованияподходит к концу.'
			},
			{
				date: '06.03.2024',
				ttl: 'ГП КС: «золотой диапазон»необходимо сохранить для нуждспутникового вещания',
				desc: 'Генеральный директор ГП КС,председатель ИЦК «Спутниковая связь»Алексей Волин в ходе конференцииSatcomrus-2023 и демо-дня ИЦК«Спутниковая связь» рассказал озадачах, которые стоят перед отрасльюспутниковой связи РФ.'
			},
			{
				date: '06.03.2024',
				ttl: 'Решетнёвская фирма на SATCOMRUS 2023',
				desc: 'Компания «Информационные спутниковыесистемы» имени академика М. Ф.Решетнёва» выступит генеральнымпартнёром XXVIII международнойконференции «SATCOMRUS 2023:Спутниковая связь. Взгляд в будущее».'
			},
			{
				date: '06.03.2024',
				ttl: 'SATCOMRUS 2023: discutiránlas estrategias de desarrollode comunicaciones satelitales',
				desc: 'Los días 28 y 29 de septiembre laRSCC (Russian SatelliteCommunications Company) organizará la28ª conferencia internacional\'SATCOMRUS 2023: Comunicaciones porsatélite. Una mirada al futuro\'.'
			},
			{
				date: '06.03.2024',
				ttl: 'Connecting link: SATCOMRUS2023 participants to discusssatellite communicationdevelopment strategies forcoming years',
				desc: 'RSCC is hosting the 28thinternational conference “SATCOMRUS2023: Satellite Communications. ALook to the Future”.'
			},

			{
				date: '06.03.2024',
				ttl: 'Спутниковая связь будетработать в связке с мобильной',
				desc: 'Генеральный директор ФГБУ НИИР ОлегИванов заявил, что в течение года-двух появятся первые гибридные сетисвязи и в России они необходимы боль-ше, чем в любой другой стране мира.'
			},
			{
				date: '06.03.2024',
				ttl: 'Санкции привели к загрузкеотечественных спутниковыхгруппировок',
				desc: 'Генеральный директор ФГУП"Космическая связь" Алексей Волинзаявил о том, что отказ иностранныхкомпаний от работы с российскимипотребителями привел к увеличениюзагрузки спутниковой группировки.'
			},
			{
				date: '06.03.2024',
				ttl: 'Бывший генконструкторГЛОНАССа рассказал  оперспективах 6G и 7G  вРоссии',
				desc: 'Бывший генконструктор системы ГЛОНАССи экс-замглавы «Роскосмоса» ЮрийУрличич заявил о неизбежностиразвития в России стандартов связи 6Gи 7G. Он также назвал перспективныеуслуги, которые можно будет получатьв таких сетях.'
			}
		]
	})



