extends base/pug/base
append variables
	- var title = 'Условия участия'
	- var pageUrl = 'usloviya-uchastiya.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: title,
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-conditions/s-conditions











