extends base/pug/base
append variables
	- var title = 'Задайте вопрос спикеру или  предложите тему для обсуждения'
	- var pageUrl = 'vopros-spikeru.html'
	- var secondMenu = typeSecondMenu.now

block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		title: 'Задайте вопрос спикеру или предложите&nbsp;тему для обсуждения',
		bg: 'images/s-page-banner/bg.png'
	})
	include components/s-question/s-question











