mixin bProgram(data)
	.b-program&attributes(attributes)
		if data.card
			._card
				+picture({
					media: false,
					retina: false,
					img: 'images/b-program/bg.png'
				})._bg
				._time=data.time
				._desc
					._ttl=data.ttl
					if data.title
						._title.-hidden-phone=data.title
			._total
				if data.title
					._title.-hidden-tablet.-hidden-desktop=data.title
				if data.total
					!=data.total
		else
			._time=data.time
			._desc
				._ttl=data.ttl
