.b-program {
	font-family: $font-family-secondary;
	@include media-breakpoint-up(md) {
		display: flex;
		flex-flow: row wrap;
	}
	&__time {
		font-weight: 600;
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-weight: 400;
			font-size: 30px;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 493px;
			padding-right: 15px;
			max-width: 493px;
		}
	}
	&__desc {
		@include media-breakpoint-up(lg) {
			max-width: calc(100% - 493px);
			flex: calc(100% - 493px);
			margin-left: auto;
		}
	}
	&__ttl {
		margin: 10px 0 0;
		font-weight: 400;
		font-size: 20px;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
	}
	&__card {
		min-width: 100%;
		padding: 12px 30px 14px;
		margin-left: -30px;
		border-radius: 0 20px 20px 0;
		position: relative;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			margin-left: -55px;
			padding: 25px 30px 31px 55px;
			border-radius: 20px;

		}
		@include media-breakpoint-up(lg) {
			margin-left: -47px;
			display: flex;
			padding: 63px 47px 84px;
		}
	}
	&__card &__time {
		padding-left: 30px;
		margin-left: -30px;
		@include media-breakpoint-up(md) {
			padding-left:  55px;
			margin-left: -55px;

		}
		@include media-breakpoint-up(lg) {
			padding-left: 47px;
			margin-left: -47px;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		margin-top: 20px;
		@include media-breakpoint-up(md) {
			font-size: 30px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 30px;
		}
	}
	&__card &__time {
		font-weight: 700;
	}
	&__card + &__desc {

	}
	&__total &__title + &__ttl {
		margin-top: 0;
	}
	&__total &__ttl {
		font-weight: 600;
		font-size: 26px;
		line-height: 110%;
		margin-top: 40px;
		@include media-breakpoint-up(md) {
			font-weight: 700;
			font-size: 20px;
			margin-top: 44px;
		}
	}
	&__total {
		font-family: $font-family-base;
		margin-top: 40px;
		font-weight: 400;
		font-size: 14px;
		@include media-breakpoint-up(md) {
			font-weight: 400;
			font-size: 16px;

		}
		@include media-breakpoint-up(lg) {
			max-width: calc(100% - 493px);
			flex: calc(100% - 493px);
			margin-left: auto;
		}
		ol,
		ul {
			margin: 18px 0 0;
			@include media-breakpoint-up(md) {
				margin-top: 30px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 25px;
			}
		}
	}
}
.is-zoom {
	.b-program {

		&__time {
			font-size: 30px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
		&__ttl {
			font-size: 26px;
			@include media-breakpoint-up(lg) {
				font-size: 30px;
			}
		}
		&__title {
			font-size: 14px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
		}
		&__total &__ttl {
			font-weight: 600;
			font-size: 32px;
			line-height: 110%;
			margin-top: 40px;
			@include media-breakpoint-up(md) {
				font-weight: 700;
				font-size: 26px;
				margin-top: 44px;
			}
			@include media-breakpoint-up(lg) {
			    font-size: 30px;
			}
		}
		&__total {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 22px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
	}

}
