.b-card-archive {
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: column;
	&__date {
		margin-top: auto;
		padding-top: 10px;
		font-weight: 600;
		font-size: 8px;
		@include media-breakpoint-up(lg) {
			font-size: 12px;

		}
	}
	&__ttl {
		margin-top: 10px;
		font-weight: 600;
		font-size: 20px;
		@include media-breakpoint-up(lg) {
			margin-top: 25px;
		}
	}
	&__desc {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.2;
		margin-top: 10px;
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
	}
	&__img {
		display: block;
		width: 100%;
		border-radius: 20px;
	}
}
.is-zoom {
	.b-card-archive {
		&__date {
			font-size: 14px;
			@include media-breakpoint-up(lg) {
				font-size: 22px;
			}
		}
		&__ttl {
			font-size: 26px;
			@include media-breakpoint-up(lg) {
				font-size: 30px;
			}
		}
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
	}
}
