.s-presentation {
	margin-top: 55px;
	@include media-breakpoint-up(md) {
		margin-top: 80px;
	}
	&__title {
		font-weight: 600;
		color: #47237f;
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 30px;
		}
	}
	&__head {
		display: flex;
		margin: 50px 0 0;
		padding: 0;
		border-bottom: 1px solid rgba($dark, 0.5);
		gap: 4px;
		@include media-breakpoint-up(md) {
			margin-top: 40px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 44px;
		}
		&-itm {
			flex: 1 0 0;
			padding: 0;

			&:before {
				display: none;
			}
		}

		&-lnk {
			font-weight: 600;
			color: #9cacb8;
			font-size: 8px;
			display: block;
			text-transform: uppercase;
			border-bottom: 2px solid transparent;
			padding-bottom: 5px;
			@include media-breakpoint-up(md) {
				font-size: 14px;
				padding-bottom: 15px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 16px;
				padding-bottom: 18px;
			}

			&.is-active {
				border-bottom-color:  #1d1d1b;
			}
		}
	}

	&__tabs {
		position: relative;
		overflow: hidden;
	}

	&__tab {
		padding-top: 30px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity $animation-base-time, visibility $animation-base-time;
		@include media-breakpoint-up(md) {
			padding-top: 50px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 60px;

		}
		&.is-visible {
			position: static;
			opacity: 1;
			visibility: visible;
		}
	}
	&__list {
		margin-top: 37px;
		@include media-breakpoint-up(md) {
			margin-top: 62px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 93px;
		}
	}
	&__itm {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
		}
		&:not(:first-child) {
			margin-top: 48px;
			@include media-breakpoint-up(md) {
				margin-top: 64px;

			}
			@include media-breakpoint-up(lg) {
				margin-top: 47px;

			}
		}
	}
	&__left {
		@include media-breakpoint-up(md) {
			flex: 1 0 0;
			padding-right: 20px;

		}
	}
	&__btn {
		margin-top: 20px;
		align-self: center;
		width: 161px;
		color: $dark;
		background-color: transparent;
		border-color: $dark;
		@include media-breakpoint-up(md) {
			margin-top: 0;

		}
		&:hover {
			background-color: $secondary;
			color: $light;
			border-color: $secondary;
		}
		@include media-breakpoint-up(md) {
			flex: 0 0 171px;
			max-width: 171px;

		}
	}
	&__username {
		font-weight: 600;
		font-size: 20px;
		@include media-breakpoint-up(md) {
			font-size: 22px;
		}

	}
	&__desc {
		margin-top: 18px;
		font-size: 14px;
		@include media-breakpoint-up(md) {
			margin-top: 12px;
			font-size: 16px;
		}
	}
	&__button {
		margin-top: 50px;
		text-align: center;
		@include media-breakpoint-up(md) {
			margin-top: 94px;

		}
		@include media-breakpoint-up(lg) {
			margin-top: 125px;

		}
	}

}
.is-zoom {
	.s-presentation {
		&__title {

			font-size: 26px;
			@include media-breakpoint-up(md) {
				font-size: 36px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;

			}
		}
		&__head {
			overflow-x: auto;
			overflow-y: hidden;
			&-lnk {
				font-size: 14px;
				@include media-breakpoint-up(md) {
					font-size: 20px;
				}
				@include media-breakpoint-up(lg) {
					font-size: 26px;
				}
			}
		}
		&__username {
			font-weight: 600;
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 22px;
			}

		}
		&__desc {
			font-size: 20px;
			@include media-breakpoint-up(md) {
				font-size: 22px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 26px;
			}
		}
	}
}
