-
	var list = [
		{
			user: 'Алексей Волин',
			desc: 'Генеральный директор ФГУП «Космическая связь»'
		},
		{
			user: 'Юрий Урличич',
			desc: 'Председатель Совета Ассоциации участников рынка спутниковой связи'
		},
		{
			user: 'Олег Иванов',
			desc: 'Генеральный директор ФГБУ НИИР'
		},
		{
			user: 'Алексей Волин',
			desc: 'Генеральный директор ФГУП «Космическая связь»'
		},
		{
			user: 'Юрий Урличич',
			desc: 'Председатель Совета Ассоциации участников рынка спутниковой связи'
		},
		{
			user: 'Олег Иванов',
			desc: 'Генеральный директор ФГБУ НИИР'
		},
		{
			user: 'Алексей Волин',
			desc: 'Генеральный директор ФГУП «Космическая связь»'
		},
		{
			user: 'Юрий Урличич',
			desc: 'Председатель Совета Ассоциации участников рынка спутниковой связи'
		},
		{
			user: 'Олег Иванов',
			desc: 'Генеральный директор ФГБУ НИИР'
		},
	]
.s-presentation
	._l-container.l-container
		._title ПРЕЗЕНТАЦИИ СПИКЕРОВ
		ul._head
			li._head-itm
				a(href="#tab-1" data-tab="#tab-1" role="button")._head-lnk.is-active  ПЛЕНАРНАЯ СЕССИЯ
			li._head-itm
				a(href="#tab-2" data-tab="#tab-2" role="button")._head-lnk  1 СЕССИЯ
			li._head-itm
				a(href="#tab-3" data-tab="#tab-3" role="button")._head-lnk  2 СЕССИЯ
		._tabs
			._tab.is-visible#tab-1
				._list
					each itm in list
						._itm
							._left
								._username=itm.user
								._desc=itm.desc
							a(href="#")._btn.btn.btn_border ПРЕЗЕНТАЦИЯ
				._button
					a(href="#").btn  СКАЧАТЬ БРОШЮРУ КОНФЕРЕНЦИИ
			._tab#tab-2 tab-2
			._tab#tab-3 tab-3
