.s-question
	._l-container.l-container
		form._form.js-validate
			._form-group
				+input({
					label: {
						ttl: "Фамилия*"
					},
					field: {
						required: true,
						pattern: ".{2,}"
					}
				}).input_btm-brd
			._form-group
				+input({
					label: {
						ttl: "Имя*"
					},
					field: {
						required: true,
						pattern: ".{2,}"
					}
				}).input_btm-brd
			._form-group
				+input({
					label: {
						ttl: "Название компании*"
					},
					field: {
						required: true,
						pattern: ".{2,}"
					}
				}).input_btm-brd

			._form-group
				+input({
					label: {
						ttl: "Ваш e-mail*"
					},
					field: {
						type: 'email',
						required: true,
					}
				}).input_btm-brd
			._form-group
				+input({
					label: {
						ttl: "Ваш вопрос*"
					},
					field: {
						class: 'input__field_textarea',
						required: true,
						tagName: 'textarea',
					}
				}).input_btm-brd
			._form-group
				.input.input_btm-brd
					label.input__label  Выберите сессию
					._radio-group
						+radio({
							field: {
								name: 'session'
							},
							label: {
								ttl: 'Пленарная сессия'
							}
						})
						+radio({
							field: {
								name: 'session'
							},
							label: {
								ttl: 'Сессия 1'
							}
						})
						+radio({
							field: {
								name: 'session'
							},
							label: {
								ttl: 'Сессия 2'
							}
						})
			._form-group
				+input({
					label: {
						ttl: "ФИО спикера, которому адресуется вопрос"
					},
					field: {

					}
				}).input_btm-brd
			._form-group
				+checkbox({
					field: {
					},
					label: {
						ttl: 'Нажимая на кнопку, я соглашаюсь с Политикой конфидециальности'
					}
				})
			._button
				+btn({
					tagName: "button",
					ttl: 'ПОДАТЬ ЗАЯВКУ',
					type: 'submit'
				})._btn
