.s-question{
	margin-top: 15px;
	@include media-breakpoint-up(md) {
		margin-top: 50px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 50px;
	}
	&__form {
		padding: 41px 20px;
		border-radius: 20px;
		background-color: $light;
		margin-top: 60px;
		margin-left: -20px;
		margin-right: -20px;
		@include media-breakpoint-up(md) {
			margin: 96px 0 0;
			padding: 47px 36px;
		}
		@include media-breakpoint-up(lg) {
			padding: 47px 96px;
		}
		&-group + &-group {
			margin-top: 50px;
		}
		.input {
			margin: 0;
		}

	}

	&__button {
		text-align: center;
	}
	&__btn {
		margin-top: 31px;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		@include media-breakpoint-up(md) {
			margin-top: 55px;
			min-width: 355px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 61px;
		}
	}

}
