-
	var slides = [
		{img: 'images/s-media/img-1.png'},
		{img: 'images/s-media/img-2.png'},
		{img: 'images/s-media/img-3.png'},
		{img: 'images/s-media/img-1.png'},
		{img: 'images/s-media/img-2.png'},
		{img: 'images/s-media/img-3.png'},
	]
.s-media
	._l-container.l-container
		if pageUrl != 'satcomrus.html' && pageUrl != 'satcomrus2.html'
			._title._h1 МЕДИА
		._slider
			._swiper.swiper
				._swiper-wrapper.swiper-wrapper
					each img in slides
						a(href=img.img data-fancybox="gallery")._swiper-slide.swiper-slide
							+picture({
								media: false,
								img: img.img
							})._img
			._swiper-btn.-prev
				+icon('angle-left')
			._swiper-btn.-next
				+icon('angle-right')
		._button
			+btn({
				ttl: 'СКАЧАТЬ БРОШЮРУ КОНФЕРЕНЦИИ'
			})._btn.btn_border
