.s-media {
	padding-top: 118px;
	overflow: hidden;
	color: $light;
	@include media-breakpoint-up(md) {
		padding-top: 115px;
	}
	@include media-breakpoint-up(lg) {
		padding-top: 120px;

	}
	&__slider {
		width: 100%;
		max-width: 320px;
		padding: 0 40px;
		position: relative;
		margin: 56px auto 0;
		@include media-breakpoint-up(md) {
			max-width: (88*2px + 531px);
			margin-top: 65px;
			padding: 0 88px;

		}
		@include media-breakpoint-up(lg) {
			max-width: (118*2px + 711px);
			margin-top: 84px;
			padding: 0 118px;

		}
	}
	&__swiper {
		overflow: visible;;
		margiN: 0 auto;
		&-slide {
			display: block;
			opacity: 0.5;
			border: none;
			transition: opacity $animation-base-time;
			&.swiper-slide-active {
				opacity: 1;
			}
		}
	}
	&__button {
		margin-top: 60px;
		text-align: center;
		@include media-breakpoint-between(md, md) {
			margin-top: 80px;
		}
	}
	&__img {
		width: 100%;
		border-radius: 4px;
		display: block;
		@include media-breakpoint-up(md) {
			border-radius: 13px;

		}
	}
	&__swiper-btn {
		width: 40px;
		height: 40px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $light;
		cursor: pointer;
		font-size: 8px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		transition: padding $animation-base-time;
		@include media-breakpoint-up(md) {
			font-size: 18px;
			width: 88px;
			height: 88px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 24px;
			width: 88px;
			height: 88px;
		}
		&_prev {
			left: 0;
			&:hover {
				padding-right: 5%;
			}
		}
		&_next {
			right: 0;
			&:hover {
				padding-left: 5%;
			}
		}

	}
}
